[2020-06-04 15:15] deman4ik opened #7 "Bug: TypeError: Cannot read property '0' of undefined"
**Describe the bug**
2020-06-04 15:13:57.858  INFO   [test.ts:5]     TypeError: Cannot read property '0' of undefined
    at stylizeWithColor (internal/util/inspect.js:340:27)
    at formatPrimitive (internal/util/inspect.js:1120:12)
    at formatValue (internal/util/inspect.js:533:12)
    at formatProperty (internal/util/inspect.js:1406:11)
    at formatRaw (internal/util/inspect.js:785:9)
    at

[2020-06-04 19:32] vladgolubev opened #9 "How to disable short path in log message?"
Thanks for such an awesome library! I've been using it in next.js project, but unfortunately, I was not able to get helpful "short paths" due to the way how next.js works

Can I disable them? I looked at the available settings, but haven't found one.

Thanks!

![image](https://user-images.githubusercontent.com/3817380/83802284-20ed4980-a6b3-11ea-81b6-f562c5e05017.png)

[2020-06-04 20:07] terehov commented on #7
Hey mate,

thanks for pointing it out and providing such a detailed bug report.
It seems to be an issue inside of that particular Node version (12.14 & 12.5)`at stylizeWithColor (internal/util/inspect.js:340:27)` and has been fixed with 12.16 already.

I am still investigating, so maybe I'll be able to come up with a workaround. However, you may want to upgrade to 12.16 in the meantime :-)

[2020-06-04 20:10] terehov commented on #9
Hey Vlad,

thanks for your kind words!
Good idea, I am going to add a setting for that 👍

[2020-06-04 20:47] #7 closed

[2020-06-05 11:07] terehov commented on #7
@deman4ik So it turned out to be a problem with some `bright` colors like `blueBright`, `redBright`. I checked the versions in question (12.14) and it works now, however not as colorful as on all the other versions < 12 and >= 12.16.

Thanks again for pointing it out.

[2020-06-05 18:54] terehov commented on #9
Thanks for hanging in!

I just released a new version `2.2.0` with many new additional settings for display control, e.g. new lines, date format, time zone, and also the one you were asking for `displayFilePath`:

https://tslog.js.org/#/?id=displayfilepath

Check it out and let me know if it suits your use case :-)

[2020-06-05 18:54] #9 closed

[2020-06-05 19:20] vladgolubev commented on #9
@terehov thanks for such a quick turnaround!

I've just tried and it works!

![image](https://user-images.githubusercontent.com/3817380/83914877-c61f2500-a77a-11ea-8308-00c34a867b13.png)

[2020-06-09 15:13] tomer-refundit opened #15 "Feature Request: [custom formatter]"
**Description / Use Case for a Feature**
when writing web server its nice thing to see all the logs that relate to one request
this can be done using cls-hooked
see https://itnext.io/nodejs-logging-made-right-117a19e8b4ce

so custom formatter, or maybe option to make the logger name dynamic(accepting function instead of string)

[2020-06-09 15:16] terehov commented on #15
Thanks for your input!
I'll give it some thoughts and try to come up with a good solution :-)

[2020-06-10 07:45] geekflyer opened #16 "How does this compare to pino, winston and co?"
Hi there,

I came across tslog in search of a good logging library and it looks promising!
I'm currently mostly using pino but having some issues with it's API and other things.

I was wondering if you could give a quick summary on how this logging library compares to X, what you did differently, why and what's the overall philosophy of it?
I'm sort of tasked with defining some best practices wrt

[2020-06-10 22:45] terehov commented on #16
One question though:
What exactly is your use-case of having a child logger?
`tslog` supports multiple loggers with different configurations and it's rather easy to achieve having a `minLevel` for all of them by simply putting this setting into a variable or an ENV.
Is there something I'm missing? Thanks!

[2020-06-11 08:59] geekflyer commented on #16
Hi @terehov,

I respect your thought on this, altho personally I have a bit of a different opinion. I think it's quite possible to give an honest comparison to other libraries and mention the main motivation why a new library was built and what limitations one ran into, but also what the new library can't do (yet).
Here's a good example of such a comparison: https://foalts.gitbook.io/docs/topic-gu

[2020-06-11 18:13] terehov commented on #16
Thanks, @geekflyer!
In our projects, we have a helper `LoggerFactory` but I see your point that it makes sense to have this inside. I'm a bit busy these days, but I'll give it some thoughts and try to come up with a solution soon 👍

[2020-06-16 16:16] terehov commented on #16
Hey @geekflyer, thanks for hanging in.
I have just pre-released a version that tackles this issue `2.3.0-0`.
https://www.npmjs.com/package/tslog/v/2.3.0-0

I am still working on some more tests and docs, but it would be awesome if you could give it a spin and tell me how you like it.

**New features:**
- Setting `prefix`: You can now pass attributes that will be prefixed to every log message
- Chi

[2020-06-16 20:13] terehov commented on #15
Hey @tomer-refundit, thanks again for your input. That was an interesting read indeed.
I started working on a `tarceId`. For now, it's just an additional parameter that you can add to a child logger (also working on that as well. You may want to check the discussion here #16) that can either be a `string` or a `Function`. Let me know if this goes in the right direction. Thanks.

[2020-06-16 20:22] terehov commented on #15
You can check it out here:
https://www.npmjs.com/package/tslog/v/2.3.0-1

`npm i tslog@next`

[2020-06-19 04:08] minmur opened #22 "Not a bug: Color pallet"
It's not a bug but some recommendations are needed. I'm using iTerm + Oh-My-Zsh with Powerlevel10k and can't get those nice colors you have in the screenshot any how.

Can you recommend what was used to get shiny and beautiful looking logs?

Here is what i see:
<img width="823" alt="image" src="https://user-images.githubusercontent.com/942831/85095946-943aa380-b1fb-11ea-8f46-d193f35a5335.png">

[2020-06-19 09:31] terehov commented on #22
Hi, @minmur thanks for reaching out.
In order to avoid unnecessary dependencies like `chalk` and further improve our performance, `tslog` only uses the native colors available through Node.js `util`. Older versions <12 don't support the entire palette and fall-back to black and white.

I guess you are still running on an older version and would suggest updating to the current LTS (12.x) version.
D

[2020-06-20 23:36] terehov commented on #15
It is available in version 2.5.0
https://github.com/fullstack-build/tslog/releases/tag/v2.5.0

Docs:
https://github.com/fullstack-build/tslog#requestid

[2020-06-20 23:36] #15 closed

[2020-06-20 23:38] terehov commented on #16
Available in: https://github.com/fullstack-build/tslog/releases/tag/v2.5.0

Docs: https://github.com/fullstack-build/tslog#child-logger

[2020-06-20 23:38] #16 closed

[2020-06-21 05:00] minmur commented on #22
My OS is macOS Catalina. Node version 12.5.0 (via nvm)

I have cleared all my terminal setting and installed everything again. And it the same.

[2020-06-21 08:41] terehov commented on #22
Thanks. I'll have a look at it.

[2020-06-21 09:37] terehov commented on #22
@minmur I checked it out and "Oh-My-Zsh" seems to be ignoring or overwriting our styles.

**Both on iTerm:**

Without "Oh-My-Zsh":
![image](https://user-images.githubusercontent.com/490885/85221309-2df88100-b3b3-11ea-9337-15ab77b3d269.png)

With "Oh-My-Zsh":
![image](https://user-images.githubusercontent.com/490885/85221313-3cdf3380-b3b3-11ea-9f01-0621bd99c9b1.png)

If you have some time, it would

[2020-06-28 13:41] tomer-refundit opened #26 "json loging api: [Feature]"
when log output is json add option to to log json object
for example
logger.info({userId: 123})

expected output:
{
//...
userId: 123
}

current output:
{
//...
argumentsArray:[{userId: 123}]

[2020-06-28 14:25] terehov commented on #26
Hi @tomer-refundit,

I understand where you're coming from, the question is: what should be a sane default.
You can pass multiple attributes to each log message, so there has to be an array and you also want the meta-information.
May I point you to a direction:
If I understand correctly your use case, you only have one object as an attribute and are therefor nit interesting in the other attributes

[2020-06-28 15:57] tomer-refundit commented on #26
Hi @terehov
I have a suggestion.
when the argument type is object and not error and the output is json merge the argument with ILogObject.

[2020-06-28 16:46] terehov commented on #26
Sorry, but this doesn't seem to be a good API design, nor follow clean code. You would end up with a messed up interface, and a functionality doing some magic when you don't expect it. Just a simple example:
[code]
These two lines would behave completely differently.

What are your thoughts about my suggestion to use a custom transport in a combination with `type: "none"`. Wouldn't that solve your

[2020-06-28 17:04] tomer-refundit commented on #26
@terehov your solution will work. thanks
of course this 2 line with behave differently. in one you log 2 string and in the other one you log object.

but i think in the long run if this logger is really want to be also a json logger, then logging object should be natural.

about the interface and clean code, do you accept PRs?

[2020-06-28 17:23] terehov commented on #26
Yes, of course, I would be happy to review your suggestion.

[2020-06-28 18:12] terehov commented on #26
There is a detail that I forgot to mention earlier that you should consider:
When you try to print a log, it will be converted from `ILogObject` into `ILogObjectStringifiable` and all the attributes will be "inspected" with `util.inspect`, so `argumentsArray` is not an array of the original objects anymore but converted into strings.
There are two main reasons why `util.inspect` is used instead of

[2020-06-29 07:43] tomer-refundit opened #27 "exception when loging errorr: [BUG]"
**Describe the bug**
when trying to log error object an exception is thrown

**To Reproduce**
Steps to reproduce the behavior:
write in the code the following code:
logger.error(new Error())

**Expected behavior**
should work

**Additional context**
TypeError: stack.reduce is not a function
    at Function.getCallSites (/my-app/node_modules/tslog/src/LoggerHelper.ts:57:15)
    at Logger._buildErro

[2020-06-29 17:36] terehov commented on #27
Hey @tomer-refundit,

I can't reproduce it. Can you pls fill up the versions you are using of tslog, Node.js, TypeScript, OS, ts-node

This is how it looks on my end:

<img width="542" alt="image" src="https://user-images.githubusercontent.com/490885/86037579-db1c6a80-ba3f-11ea-90aa-b9931d9e68b6.png">

[2020-06-29 18:03] terehov commented on #26
I have just released a new version with new `type:hidden` that should help you with this use case.

https://github.com/fullstack-build/tslog/releases/tag/v2.6.0

[2020-06-29 18:03] #26 closed

[2020-06-30 08:43] tomer-refundit commented on #27
its really strange.
this error only happens when i am debugging with break points. i dont know why...
if you put breake point at LoggerHelper.getCallSites you will see it
tslog: 2.5.0
node: v14.2.0
typescript: 3.9.5
OS: mac
ts-node: not used

[2020-07-07 11:24] deman4ik opened #29 "Bug: TypeError: errorCallSites.splice is not a function"
**Describe the bug**
Got `TypeError: errorCallSites.splice is not a function` while trying to log `uncaughtException`.

**To Reproduce**

[code]

**Expected behavior**
Log error `TypeError: Cannot read property 'id' of undefined`

**Additional context**
Node.JS 12.18.0
typescript ^3.9.6
tslog ^2.6.0

[2020-07-07 19:32] terehov commented on #29
Thank you, I was able to reproduce it. I guess it's also related to #27
Should be able to come up with a fix shortly.

[2020-07-07 23:22] terehov commented on #29
I have just released a patch version 2.6.1 that should fix your problem. Let me know if it works. 👍

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/490885/86854617-085cbe80-c0b9-11ea-8224-5a1bcfe0564f.png">

https://github.com/fullstack-build/tslog/releases/tag/v2.6.1

[2020-07-07 23:22] #29 closed

[2020-07-07 23:25] terehov commented on #27
@tomer-refundit
I guess this issue has also been fixed with `2.6.1`. Please let me know if it's not the case.
Thanks!

[2020-07-07 23:25] #27 closed

[2020-07-10 16:06] paul590 opened #31 "GraphQL JSON Parse error: Unrecognized token '<' error when using TSLog library"
Hello,

I am currently running into an issue where upon adding a log using this library, my graphql query errors stop working and return the following error: JSON Parse error: Unrecognized token '<'. This only affects when i am expecting graphql to return an error, i am able to get data when i am expecting data. I am using apollo-server and graphql with this library.
I added the following paramete

[2020-07-10 16:24] terehov commented on #31
Hey @paul590

Which version of tslog do you use?

[2020-07-10 16:32] paul590 commented on #31
Hi @terehov thank you for getting back to me. I am using version 2.6.1

[2020-07-12 07:32] terehov commented on #31
Great! To help me analyze this issue: would you be able to extract this problem into a small repo, which I can use to reproduce this issue and where I could see the exact dependencies with their versions in package.json

That would be highly appreciated!

[2020-07-15 18:54] DevFlex opened #33 "Cannot run with node once compiled"
node version: v12.13.1
os: MacOS
typescript: 3.9.6
tslog: 2.6.1

I have no issue running this with `ts-node`, but when I actually run the tsc on my project and do a `node ./dist/index.js` I get the following error. I have tried removing it and everything works as expected, but as soon as I even just instantiate the `new Logger()` I get the error below.

[code]

tsconfig.json

[code]

[2020-07-16 00:21] deman4ik opened #34 "Bug: stack trace error"
**Describe the bug**
After updating to 2.6.1 I got error in bluebird

`/node_modules/bluebird/js/release/debuggability.js:768
    var lastStackLines = (lastLineError.stack || "").split("\n");`

seems like tslog converts error.stack into array

**To Reproduce**
[code]

**Additional context**
Node.JS 12.18.0
tslog ^2.6.1

Seems related #33

[2020-07-16 11:37] terehov commented on #34
Thank you. Once again a great bug report. I am going to looking into it now.

[2020-07-16 16:09] terehov commented on #33
Thanks for reporting.
Should be fixed in `2.6.2`.

[2020-07-16 16:48] DevFlex commented on #33
@terehov I have upgraded to 2.6.2 and it is still throwing that same error. I will try to give a reproduction case when I get some time today.

[2020-07-16 16:51] terehov commented on #33
That would be awesome, thx.

[2020-07-16 20:31] DevFlex commented on #33
The more I look into it I am thinking this might not be an issue with tslog, but I figured I would post the reproduction case here let me know if there is anything else you need. The tsconfig I posted in the main issue. Thanks :)

index.ts

`import fetch from 'isomorphic-fetch';
import { Logger } from 'tslog';

import { print } from 'graphql';
import { makeRemoteExecutableSchema, stitchSchemas, in

[2020-07-17 00:19] deman4ik commented on #34
@terehov Unfortunately that doesn't fix the problem.
Please try to run reproduction code with just node without ts. Error only appears in compiled js version, but with ts-node works fine.

[2020-07-17 00:25] terehov commented on #34
I did and seemed to work. I’ll give it another try tomorrow morning. Sorry about that.

[2020-07-17 00:26] terehov commented on #33
Thanks, I’ll try it out tomorrow morning.

[2020-07-17 00:28] deman4ik commented on #34
@terehov
I think you forgot to build npm package properly
`dist/src/CallSitesHelper.js` contains latest fix but `dist/CallSitesHelper.js` don't
![Screenshot 2020-07-17 at 03 27 07](https://user-images.githubusercontent.com/913027/87735194-83bb2000-c7dd-11ea-8df8-2e90d832ef9b.png)

[2020-07-17 00:53] terehov commented on #34
Good hint, thx.
I did build it, however, I added examples into the build and that created nested folders (`src` inside of `dist`).
A new version is on its way. Sorry about that.

[2020-07-17 00:54] terehov commented on #34
Please give `v2.6.3` a try.

[2020-07-17 00:56] terehov commented on #33
Thank you. I guess @deman4ik gave me the right hint in #34.

Can you please try `v2.6.3`? Thx.

[2020-07-17 13:35] DevFlex commented on #33
@terehov v2.6.3 fixed it thanks :)

[2020-07-17 13:35] #33 closed

[2020-07-17 14:20] deman4ik commented on #34
@terehov Works fine now. Thank you.

[2020-07-17 14:20] #34 closed

[2020-08-08 01:04] pegasuspect opened #37 "Bug: [BUG]"
**Describe the bug**
TSLog masks password only if it is the last value in the json.

**To Reproduce**
Steps to reproduce the behavior:
1. `mkdir tslogBugReplace`
2. `cd tslogBugReplace`
3. `npm init -y`
4. `npm i tslog`
5. Open directory with your favourite text editor and create **index.js**
6. Run the following code:
[code]
7. `node index.js` or you can also see the screenshot below.

**Expected

[2020-08-09 13:07] terehov commented on #37
Thank you for your great bug report. I am going to release a fixed version shortly.

[2020-08-09 19:37] terehov commented on #37
I have released a new version `2.6.4` that addresses this issue.
Finally, there was only one question mark (?) missing in the RegEx. Thanks for pointing that out.
Additionally, your screenshot indicated another problem with that RegEx that I also resolved.
Your output should now look like this:

<img width="535" alt="image" src="https://user-images.githubusercontent.com/490885/89739938-8d0e7400-da

[2020-08-09 19:37] #37 closed

[2020-08-09 21:12] pegasuspect commented on #37
Great job on fixing this with minimal code. I agree with you about the lower performance.

However there is one more issue about this, when the json is say:
[code]
The output is:
[code]
Output truncates the password* key into password, showing a different key. It's also invalid json because of the repeated key.

[2020-08-09 22:50] terehov commented on #37
Well caught.

Another patch is on its way. Should look like this:
<img width="525" alt="image" src="https://user-images.githubusercontent.com/490885/89743368-5e06fb00-daab-11ea-8bff-7e52a795a39f.png">

Btw. it's not JSON anyways. JSON is a very limited representation of JS and many types are missing (e.g. BigInt). From the documentation:

[util.inspect(object[, options])](https://nodejs.org/api/ut

[2020-08-09 23:01] terehov commented on #37
`2.6.5` is released.

[2020-08-10 02:13] pegasuspect opened #40 "Bug: About maskStrings parameter"
**Describe the bug**
When maskStrings parameter is used tslog is masking the keys as well and also adding an extra colon. Also the maskStrings works case sensitive unlike maskValuesOfKeys. See the screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
1. `mkdir tslogBugMaskStrings`
1. `cd tslogBugMaskStrings`
1. `npm init -y`
1. `npm i tslog`
1. Create a js file called index.js, `tou

[2020-08-10 06:51] terehov commented on #40
Hi @pegasuspect,

thanks again and I appreciate a new issue.
Double colon is obviously a mistake I added yesterday, however, masking of "all" strings is by design.
My thought was: A password should not be a "password" but rather a random `string` (e.g. `kff538dd.hgdKJGhfn`) and if you tell `tslog` to mask it, it should be masked everywhere no matter where it appears.

I would appreciate to hear yo

[2020-08-10 14:11] pegasuspect commented on #40
I think its OK to maskStrings either way, the only thing is it must be made obvious in the documentation what it does. Like you explained you might add: It will also mask *keys* if it encounters this random string.

The naming of the parameter could also help in understanding it. maskStrings is a little general name. It might be *maskAllOccurances*, or if you wanna keep it short *maskAny*. Because

[2020-08-10 19:07] #40 closed

[2020-08-10 19:16] terehov commented on #40
Thank you @pegasuspect for your valuable input. I also believe that this name is misleading and have therefore decided to rename it and also clarify in the documentation.

I have just released a new `next` version. You can give it a spin and tomorrow I'll release as a new minor

`npm i tslog@next`

[2020-08-15 13:10] rpss1 opened #42 "Attached transports do not respect individual minLevel"
**Describe the bug**
When transport's `minLevel` is different from stdoutput, the log is not generated on transports with `minLevel` less than stdoutput.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the following code:
[code]
2. The "info" log is generated on the stdoutput and attached transport.
3. The "warn" log is generated on the stdoutput and attached transport.
4. The "debug" lo

[2020-08-16 11:38] terehov commented on #42
Thank you very much. I’ll release an update shortly.

[2020-08-17 08:50] #42 closed

[2020-08-17 08:54] terehov commented on #42
I have fixed this in '2.7.1' and added a test for this use case. Thank you once again :-)

[2020-08-31 23:10] kwonoj opened #44 "Feature Request: [Feature] [Question] masking dynamic values, such as regex pattern matching"
**Description / Use Case for a Feature**

I may misunderstand docs and this is already supported, labeled question to clarify it.

There are some cases we would like to traverse all object payload recursively to detect a certain patterns of strings matching regex, such as prefix-based auth token and vice versa. Is there way to specify it via current `mask*` configuration values?

[2020-09-01 08:57] terehov commented on #44
Hey @kwonoj,

thank you for your feature request. I didn't quite get it. Could you please give me an example?

[2020-09-01 09:08] kwonoj commented on #44
Our application has extensive redaction for any possible token logging point. We have some dynamic object payload, rough illustration like

[code]

the important part is we don't have deterministic key to filter things out. above example, it was included in `auth_token`, but it could be other forms, including logger message itself. The only thing we can guarantee is token follows a specific form o

[2020-09-01 14:36] terehov commented on #44
I think I got your point. The way I use it personally is by leveraging `maskAny` to hide any known keys.
It was a design decision to avoid a recursive search in favor of RegEx for performance reasons.
The way I understand your feature request is that you either don't want to tell `tslog` all possible "secrets", or maybe don't even have access to all of them. So I believe a plausible solution could

[2020-09-01 16:05] kwonoj commented on #44
Yes, I agree with those design decision in general. I would say my usecase is more edge, aggressive cases if someone wants aggressive scanning even with cost of pattern matching since we can't leak either PII or tokens for security reasons.

Yes, I think that could work.

Still, if I recall correctly this doesn't apply to message itself: is there way to enable matching against messages itself? as

[2020-09-03 09:11] kwonoj commented on #44
Thanks for the confirmation. So theoritically feature I would like to have is maskAny + regex (or predicate function).

[2020-09-03 09:46] terehov commented on #44
Got it.
Technically it was possible already since `maskAny` did accept RegEx. To make it more obvious I have released a version `v2.8.0` that reflects that in the docs as well as the naming of the setting `maskAnyRegEx`.

Here is an example for your use case:
[code]

[2020-09-03 16:09] kwonoj commented on #44
Awesome, thanks for the help!

[2020-09-03 16:11] #44 closed

[2020-09-14 09:25] leolara opened #46 "Bug: TypeError: Cannot read property 'isNative' of undefined"
**Describe the bug**
I get an error: [TypeError: Cannot read property 'isNative' of undefined] when using the library

**To Reproduce**

In electron environment:
console.log('quicktest')
try {
    const log: Logger = new Logger()
    log.silly('I am a silly log.')
  } catch (e) {
    console.log(e)
  }
console.log('quicktest')

get output:

quicktest
[TypeError: Cannot read property 'isNative' of

[2020-09-14 09:49] leolara commented on #46
I tested this in versions v2.7.1 and v2.8.0 and it happens in both

[2020-09-14 09:50] leolara commented on #46
Running it in the browser process of electron get the same error.

Using the debugger it goes to source-map-support dependency to function wrapCallSite, it tries to call frame.isNative() and that seems to be undefined in electron

[2020-09-14 09:53] leolara commented on #46
I see that in _buildLogObject relevantCallSites is returned as an empty array, and then it is assumed in the call to wrapCallSite that it has at least one element

[2020-09-15 07:47] terehov commented on #46
Hey @leolara, thank you for your bug report.

Just to clarify: Is `tslog` running in a Node.js context?

One of the key benefits of `tslog` is it's integration into Node.js and V8 (e.g. for stack traces). Therefore it is a Node.js-only  logger for now. I Have plans to create a client-facing version at some point.

[2020-09-15 07:49] leolara commented on #46
Electron is Node. I am 100% sure because I am using the "net" for TCP/IP sockets standard library that obviously you cannot use in a browser environment

[2020-09-15 07:51] terehov commented on #46
Alright, I got confused by this:

Let me try to recreate this issue and get back to you.

[2020-09-15 07:54] leolara commented on #46
Electron can run browser processes, but they have access to node libraries. That way they allow to have desktop apps using web technologies. Of course, this must be an electron incompatibility, as it seems

[2020-09-15 08:03] terehov commented on #46
I just quickly started their quick start example and it seems to work fine.
Which versions do you use?

<img width="801" alt="image" src="https://user-images.githubusercontent.com/490885/93182965-0eb78880-f743-11ea-9b81-5136bd605afa.png">

[2020-09-16 10:49] tjoskar opened #47 "Bug: Can not run debug a script with tslog in vscode"
**Describe the bug**

I'm not sure this is a issue in this lib or if the issue is with vscode debugger. But when I debug a script with tslog in vscode I get the following error:
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Create a new project
[code]
2. Create a new javascript file and name it `test.js`:
[code]
3. Create a launch.json file by following the GUI guide or create a ne

[2020-09-16 14:54] terehov commented on #47
Thank you for quite a detailed report. I am going to try and reproduce it.

[2020-09-20 07:07] #46 closed

[2020-09-20 09:08] leolara commented on #46
I eventually had to switch to winston for the project, which works, as I do not have time to research this

[2020-09-21 08:06] terehov commented on #47
Thank you for hanging in!

I didn't get an error, however, nothing showed up in the debug console:

<img width="1236" alt="Screenshot 2020-09-21 at 11 03 22" src="https://user-images.githubusercontent.com/490885/93744170-1327e980-fbfa-11ea-84fa-c69f7236eee7.png">

So I did some research and found this thread:
https://github.com/microsoft/vscode/issues/19750

Apparently you have to add these lines:

[2020-09-21 08:16] terehov commented on #47
@tjoskar Did it solve your problem?

[2020-09-21 13:56] tjoskar commented on #47
@terehov Thanks for looking into this. I don't know if this was solved in the latest version of vscode or if a reboot of my computer did the trick or what it was, but it works now and with the extra config lines you suggested above I can see the message in the console as well. Thanks!

[2020-09-21 13:56] #47 closed

[2020-09-26 09:59] whalemare opened #50 "Feature Request: React-Native"
I try to use your library in my react-native project.

After `yarn add tslog` and use it in project, I have an errors like:

[code]

I suppose, that this `os` module is node based dependency. In react-native we can not access to node features. Can you adapt your library to use it specific environment, like react native?

[2020-09-26 10:08] terehov commented on #50
Thank you for your request.
A big advantage of `tslog` is it’s deep integration into Node.js and V8 and therefore it’s unfortunately not possible to adopt it to other environments.
That being said, I am planning to create a new, yet compatible library for client side usage.
However, I don’t have a timeframe for that.

Any contribution is appreciated :-)

[2020-09-26 10:08] #50 closed

[2020-10-13 01:11] flybayer opened #51 "Bug: Instantiating logger breaks console.error()"
**Describe the bug**
We are using tslog inside [Blitz.js](https://github.com/blitz-js/blitz). It's really great, but noticed that it's causing a regression because it breaks the default behavior of `console.error`.

Before instantiating a tslog logger, `console.error(new Error("Hello"))` prints the following:

[code]

But after instantiating a logger,  `console.error(new Error("Hello"))` prints th

[2020-10-13 05:26] terehov commented on #51
Thank you for reporting this.
I’ll look into it today!

[2020-10-13 09:38] terehov commented on #51
Hey @flybayer,

I am flattered that you guys decided to use `tslog`. I am as well considering using Blitz.js for one of my projects.
Nice work! :-)

Unfortunately, I am not able to reproduce your error.

This is how it looks on my Node 14:
<img width="1792" alt="Screenshot 2020-10-13 at 12 29 13" src="https://user-images.githubusercontent.com/490885/95843248-2852ec80-0d50-11eb-9bee-21fd65515f89.pn

[2020-10-14 01:05] flybayer commented on #51
@terehov here's a reproduction: https://codesandbox.io/s/hungry-montalcini-3ii6c?file=/pages/index.js

Turns out simply importing the logger is enough to do it.

[2020-10-14 14:16] terehov commented on #51
Thank you very much, that was really helpful!
I have found and fixed the issue. Just need to update the tests to remain at 100% coverage.
Expect an update today or at the latest tomorrow.

[2020-10-15 10:05] terehov commented on #51
I have just released a patch version `2.9.1` that seems to solve this issue:

<img width="1792" alt="Screenshot 2020-10-15 at 13 04 51" src="https://user-images.githubusercontent.com/490885/96109165-0b9ced00-0ee7-11eb-95a3-b309e5e9b0c5.png">

[2020-10-15 15:38] flybayer commented on #51
Sweet, thanks! Will test this in Blitz.

[2020-10-17 05:19] terehov commented on #51
I assume this issue has been resolved and going to close it.

[2020-10-17 05:19] #51 closed

[2020-10-24 16:47] GreenMonkeyBoy opened #54 "[Question] displayFilePath/displayFunctionName in a "facade" class"
Hello, I have a class `LoggerService`:

[code]

Now if I call `error()` somewhere in another file:
[code]

The settings `displayFilePath` and `displayFunctionName` shows:
[code]
I'd like the log to show:
[code]

So my question is can I do something to say "take the file name and function name from the parent class `App` instead of `LoggerService`?

For the stack, I can remove the first item of the

[2020-10-24 20:54] terehov commented on #54
That’s a very valid request, indeed.
There is an internal configuration called `_ignoreStackLevels` which is not exposed yet. I gonna put it into the settings and release a new version shortly.

[2020-10-28 22:56] kwonoj opened #55 "[Question]: disable all colors in `prettyPrintLog`"
**Description / Use Case for a Feature**

If I read correctly, it looks like few cases colors are always applied, such as `dateTime` or `logLevels`:

- https://github.com/fullstack-build/tslog/blob/d06fc6e1158e350d0f37caa2fd3ceaa3005f1d05/src/index.ts#L542
- https://github.com/fullstack-build/tslog/blob/d06fc6e1158e350d0f37caa2fd3ceaa3005f1d05/src/index.ts#L552

I'm curious if there's way to disab

[2020-11-03 15:56] vyazadji opened #57 "Bug: Doesn't mask password keys when type is `json`"
**Describe the bug**
It doesn't mask password when type is `json`

**To Reproduce**
tslog is v2.10.0

When type is `pretty`, it masks `password` key
[code]
output:
[code]
It works as expected and the password was masked.

But when type is `json`
[code]
Output:
[code]
Password value wasn't masked in this case

**Expected behavior**
Password value should be masked for type `json`

**Node.js Version*

[2020-11-04 13:51] terehov commented on #55
Thank you for this input, @kwonoj,

last few days have been a bit busy. I can totally understand your request and going to add it shortly.

cheers

[2020-11-07 20:45] terehov commented on #57
This was actually done by design, where `type: "json"` gives you native access to the underlying object and the `pretty` option does everything to make it pretty. However, I see, that this behavior is not described properly in the documentation.
In the last couple of days, I've been debating with myself whether this should be part of the library or something that the user would have to build on to

[2020-11-08 00:39] terehov commented on #55
Added: https://github.com/fullstack-build/tslog/releases/tag/v2.11.0

[2020-11-08 00:39] #55 closed

[2020-11-08 00:40] terehov commented on #54
Added, going to update docs soon.
https://github.com/fullstack-build/tslog/releases/tag/v2.11.0

[2020-11-08 00:40] #54 closed

[2020-11-08 00:41] terehov commented on #57
Fixed: https://github.com/fullstack-build/tslog/releases/tag/v2.11.0

[2020-11-08 00:41] #57 closed

[2020-11-09 21:20] kwonoj opened #59 "Bug: [BUG] Unhandled exception in `_maskValuesOfKeys`"
**Describe the bug**
A clear and concise description of what the bug is.

With latest release, there are some unhandled exception being thrown like below:

[code]

looks like introduced with https://github.com/fullstack-build/tslog/commit/a80f4a4c596e05db7dccc9a1edeb24e75fe66c76. Assuming traverse tries to mutate given object payload somehow.

**To Reproduce**
Steps to reproduce the behavior:

clo

[2020-11-11 00:46] kwonoj opened #61 "Feature Request: [Feature] tree-shakable dist output support"
**Description / Use Case for a Feature**

This is feature request to support `module` field in package.json allows bundler can pick up tree-shakable code. Whole size of tslog itself is relatively small enough, but I hope tslog could expose import paths to skip few deps like `source-map` as well to squeeze size: it may possible by having export site in top level export (index.ts), but should be esm

[2020-11-11 00:47] kwonoj commented on #59
Tried few and I think best way is do `cloneDeep` against given payload object before traverse it, like using `lodash`'s clonedeep or similar. It looks like given object is being mutated each time logger try to traverse it.

[2020-11-11 10:26] terehov commented on #61
Of course, you're more than welcome to join. Every PR is highly appreciated 👍

[2020-11-11 20:35] #59 closed

[2020-11-11 20:41] terehov commented on #59
Give it a try :-)

https://github.com/fullstack-build/tslog/releases/tag/v2.11.1

[2020-11-11 21:30] #61 closed

[2020-11-12 19:46] terehov commented on #61
@kwonoj So with tree-shaking support we can now reduce the bundle size by half, however, when in a regular Node.js scenario we actually doubled it by delivering esm as well as cjs (effectively blowing up node_modules).
What do you think about that?
<img width="420" alt="Screenshot 2020-11-12 at 21 44 56" src="https://user-images.githubusercontent.com/490885/98988576-8847d900-2530-11eb-8cfa-142dbe8

[2020-11-12 19:49] kwonoj commented on #61
We got similar q also around https://www.npmjs.com/package/rxjs - you can see it's about 5MB, since we ship cjs / esm / esm5(!) / umd + source files to allow declaration map features. Conclusion we had is gain was larger than bytesize, esp it doesn't have lot of transitive dependencies and sole 5MB is something acceptable. Worth to note is even though bytesize itself has grown, cjs user will not i

[2020-11-12 19:53] terehov commented on #61
Thank you for your input, sounds reasonable to me. I might add something into docs mentioning that.

[2020-11-17 18:43] kwonoj opened #63 "Feature Request: [Feature] Consistent formatting + timestamp customization for floating point"
**Description / Use Case for a Feature**

1. Space / tab mixed formatting:

![image](https://user-images.githubusercontent.com/1210596/99432545-2a651980-28c1-11eb-8b35-6acda9556aa1.png)

If logger contains different `display` configs across log object as above - for example `displayLogname: true` then some other properties are not set - properties are substituted as space then each separator uses

[2020-11-18 02:40] businessrate opened #64 "Bug: Method names for async functions not showing"
Opened accidently from a client account.  Please delete.  Created new issue

[2020-11-18 02:48] sfsr12 opened #65 "Bug: Method names for async functions not showing"
**Describe the bug**
When a log is written from an async function it does not have a method name associated with it in the output.  This might be an issue with how async/await works - or how I implement so not sure this is a tslog issue or not?

[code]

**To Reproduce**
[code]

**Expected behavior**
I would expect the output to show `[src\main.ts:8 testAsync] ` not just `[src\main.ts:8]`.

**Scree

[2020-11-18 05:24] #64 closed

[2020-11-18 17:42] businessrate commented on #64
I know it is stupid - but would you mind fully deleting this issue in order to get it off this account?  It causes the project to show in my clients account.  Sorry for making more work for you.

[2020-11-18 20:14] terehov commented on #64
That's alright, no worries. I'm afraid it's not possible to delete an issue on a public project. I can only delete a comment, the revision history, but not the issue itself. If you can figure out how to do it, I would be happy to help. I believe the best way is to directly contact GitHub support as the author of the issue. I guess they will be able to help you.

[2020-11-18 20:18] businessrate commented on #64
Thanks for all the help.  You are awesome.  I found this: https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/deleting-an-issue

But that might not apply to a public project.

[2020-11-18 23:33] deman4ik opened #66 "Bug: maskValuesOfKeys option mutates object properties!"
**To Reproduce**
[code]

**Additional context**
v2.11.1

**Node.js Version**
v14.15.1

[2020-11-19 02:06] sfsr12 commented on #65
A bit more info on this that I found while messing with stuff.  It looks like you can change this:

LoggerWithoutCallSite.ts
[code]
[code]

and it will give results that mirror (I think) the error stack.

[2020-11-19 04:44] sfsr12 commented on #65
I found another solution/answer to what was wrong.  I was targeting es5 in my tsconfig.  Changing that to target es2018 resolves the issue.

[code]

[2020-11-19 17:13] aliak00 opened #67 "Feature Request: Allow custom delimiters"
**Description / Use Case for a Feature**
The use case is for formatting the logs with more customization.

Right now my logs look like:
![image](https://user-images.githubusercontent.com/2638284/99699877-c98d3b00-2a92-11eb-90c8-c4914013768e.png)

I would like to be able to not have all the spaces between the meta information but still have the colored output with log levels and time. Is that possi

[2020-11-23 02:19] Taruga commented on #67
I also would like to have the right part of the logs aligned
![Screenshot 2020-11-23 at 02 17 15](https://user-images.githubusercontent.com/1231549/99924384-032fa180-2d32-11eb-9095-0dcf884e4b78.png)

[2020-11-23 10:45] terehov commented on #67
Just to get it correct: So you basically would prefer spaces instead of tabs as the delimiter. I guess that's the reason why it doesn't look that alligned. I am gonna add it with the upcoming release and probably also change the default behavior.

[2020-11-23 11:42] terehov commented on #66
That's actually done by design.
https://github.com/fullstack-build/tslog#maskvaluesofkeys

You can change this default behaviore with an `maskValuesOfKeys ` empty array:

[code]

[2020-11-23 19:58] deman4ik commented on #66
@terehov Why not just clone object, mask and log it but not mutate the original one?

[2020-11-23 20:56] terehov commented on #66
Oh, I think I got your problem. I’m in the middle of a bigger release anyway, going to fix it as well.

[2020-11-24 15:40] terehov commented on #65
Hi @sfsr12,

I can reproduce it with `target`: `es5`, `es2015` and `es2016` and it starts working from `es2017` onwards.
Why would you want to target such an old ES version?

PS: Thank you for your suggestion regarding `functionName`, I am going to ad it with the new release. I think it's good practice to output `<anonymous>`  in that case.

[2020-11-24 15:42] terehov commented on #65
I am going to close this issue because you've already found a solution. Let me know if you have a valid use case for targeting `es5`.

[2020-11-24 15:42] #65 closed

[2020-11-24 15:59] terehov commented on #67
I have just released a new version as `next` including these changes:

https://github.com/fullstack-build/tslog/releases/tag/v3.0.0-0

[2020-11-24 15:59] #67 closed

[2020-11-24 16:00] terehov commented on #66
I have just released a new version as `next` including these changes:

https://github.com/fullstack-build/tslog/releases/tag/v3.0.0-0

[2020-11-24 16:00] #66 closed

[2020-11-24 16:01] terehov commented on #63
I have just released a new version as `next` including these changes:

1. I hope I was able to eliminate all of them.
2. Additional Zeros are gone now.

https://github.com/fullstack-build/tslog/releases/tag/v3.0.0-0

[2020-11-24 16:01] #63 closed

[2020-11-24 16:04] terehov commented on #66
@deman4ik
Can you please let me know if it wors as expected? Thank you.

[2020-11-24 16:29] sfsr12 commented on #65
No, that was a mistake to target the old version - was converting old projects.

[2020-11-24 17:48] kwonoj commented on #63
Yes, seems it's working as expected. Appreciate for quick update! 🙇

[2020-11-24 17:59] deman4ik commented on #66
Yes it works! Thank you.

[2020-11-24 21:38] kwonoj commented on #63
@terehov just found one regression in 3.0.0, created PR https://github.com/fullstack-build/tslog/pull/68.

[2020-11-25 08:11] MRaahulVignesh opened #69 "Is there a way to silent logging when running unit tests using jest"
I am using tslog and jest for writing unit tests. I wanted to check if there is a way to silent the tslog when running unit tests without using any jest configuration?

[2020-11-25 08:13] terehov commented on #69
Sorry, I don't quite get your request?
You can always set https://github.com/fullstack-build/tslog#type `type` to `hidden`.

[2020-11-25 08:30] MRaahulVignesh commented on #69
Hey,
Sorry for not providing you with better details. Let me explain to you more. Right now, I am using Tslog for performing logs in my backend service. When running jest unit test cases for my service, my Tslogs are also printing which unnecessarily clogs my terminal. Therefore, I am currently using jest mock functions for mocking Tslog and preventing them from printing logs. Now, I am asking if

[2020-11-25 08:37] terehov commented on #69
Ok, understood. But I believe it is a generic, more a JavaScript than `tslog` related question.
Essentially there are many ways to achieve this. You could, for example, set the `type` based on the `environment`. Let's say you have a `production` and a `testing` one. When in testing, `type` would be set to `hidden`.

`tslog` is just a logger, that provides you with an API to develop against. Howeve

[2020-11-25 08:37] #69 closed

[2020-11-26 10:03] terehov commented on #31
@paul590 Do you still experience this problem? I wasn't able to reproduce it.
I am going to close this issue due to inactivity. Should this be an ongoing problem, I would kindly ask you to open a new issue.

[2020-11-26 10:03] #31 closed

[2020-11-26 18:47] passionkind opened #70 "Feature Request: Defaults / Formatter"
**Description / Use Case for a Feature**

I'd really like to see a way to handle defaults with `tslog`. I appreciate `requestId`, `hostname` etc. but I also need to add a few more parameters as I intend to use your logger with Google's Stackdriver, which needs some additional values e.g. for labels, a service context and so on.

I can imagine that there are more use cases for custom defaults that

[2020-11-27 06:27] terehov commented on #70
Thank you @passionkind for your proposal, I do totally get where you are coming from.
Custom `formatters` is definitely something that I have on my road map for the 4.x release.
In the meantime, I believe using `prefix` could potentially solve your problem (https://github.com/fullstack-build/tslog#prefix). Have you tried that out?

[2020-12-01 19:17] passionkind opened #71 "Error when trying to access relevant call sites"
I am currently trying to integrate tslog in a nextjs api function. I stumbled upon an error where `relevantCallSites` turned out to be an array of 3 elements. Since the default for `ignoreStackLevels` seems to be `3`, it makes sense that `undefined` cannot be evaluated.

I haven't yet tracked down why my callsites only have a length of 3 but in any case, it'd be better to check if `relevantCallSit

[2020-12-15 01:24] iknowcss opened #74 "Bug: Logging rror causes "Converting circular structure to JSON""
**Describe the bug**
When I pass an error object which has a circular structure to `logger.info` or any other logging method, I get the following error:

[code]

**To Reproduce**
Execute the following code:

[code]

To see this happening in a more realistic context, install `got` and run the following code:

[code]

**Expected behavior**
`tslog` stringifies the error object in such a way that it d

[2020-12-15 11:34] terehov commented on #74
Thank you very much. Apparently, `Error` objects were treated differently, than other JS objects. I have solved this issue and plan to release a new version today.

[2020-12-15 13:01] #71 closed

[2020-12-15 13:01] #74 closed

[2020-12-15 13:07] terehov commented on #71
Thanks for reporting and sorry that it took me so long this time.
I fixed it in 3.0.2:
https://github.com/fullstack-build/tslog/releases/tag/v3.0.2

[2020-12-15 13:07] terehov commented on #74
Here you go :-)
https://github.com/fullstack-build/tslog/releases/tag/v3.0.2

[2020-12-15 21:12] iknowcss commented on #74
Thanks very much for the quick turn-around! I really enjoy using tslog in my current project :)

[2020-12-15 21:13] terehov commented on #74
Thank you, I am happy to hear that :)

[2020-12-23 22:01] nderevjanik-skillz opened #77 "Question: Rename Silly to Step via Config?"
Is it possible via configuration to rename the "silly" level to "step"?

I'm designing an automation framework that will be using your logging library (great work btw!). I'd like to use the silly level as a way to report manual testing **step**s. So it would be ideal if the logs reported "step" instead of "silly".

[2020-12-23 22:58] terehov commented on #77
Thank you very much. :)
Unfortunately, it is not yet possible to rename log levels, since type definitions were more important when designing this library.
Can you provide me some more background on why it is necessary to rename it?

[2020-12-23 23:13] nderevjanik-skillz commented on #77
I appreciate the quick response!

It's a somewhat aesthetic request. I'd prefer the domain language for my automation framework to be "take a look at the step logs" vs. "take a look at the silly logs" ;-)

For more context, I'm building an end-to-end test automation framework. When an automated test fails, my team will review the logs. In particular they'll review "step" (silly) logs as a "step by

[2020-12-23 23:28] terehov commented on #77
Okay, I think I get where you are coming from.
So basically what you need is just to replace the printed out word "silly" rather than the method name itself, correct?

[2020-12-23 23:41] nderevjanik-skillz commented on #77
That would be a great stop gap solution.

Ideally it would be both the printed word **and** method name. But I'm sure renaming the method is not acceptable. I don't want to affect your original design nor cause backward compatibility issues.

Is it possible for me to extend the Logger class and provide a "step" method that delegates to the "silly" method? That is if I can also replace the wording.

[2020-12-24 14:31] terehov commented on #77
I understand, thank you for your explanation. Unfortunately, it is going to be a bigger rewrite and therefore I have to postpone this until the next major update. Sorry about that! I hope you are still able to use it this way.

[2020-12-31 23:42] flybayer opened #78 "Bug: Cannot convert undefined or null to object"
**Describe the bug**

These both fail as of `3.0.3`. They worked fine in `2.9.1`

**To Reproduce**

[code]

**Expected behavior**
Logger should accept all values, especially null and undefined.

**Node.js Version**
12

**OS incl. Version**
  System:
    OS: macOS 11.1
    CPU: (16) x64 Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz
    Memory: 1.43 GB / 64.00 GB
    Shell: 3.1.2 - /usr/local/bin/fish

[2021-01-02 08:14] terehov commented on #78
Thank you very much. A bugfix is coming soon.

[2021-01-02 08:51] #78 closed

[2021-01-02 09:11] terehov commented on #78
Fixed:

https://github.com/fullstack-build/tslog/releases/tag/v3.0.5

[2021-01-02 20:01] flybayer commented on #78
Thank you!

[2021-01-07 22:25] flybayer opened #80 "Bug: Arrays and Dates stopped displaying correctly"
###  Describe the bug

After upgrading from `2.9.1` to `3.0.5`, there is a regression in array and date logging.

**Before:**

[code]

**After:**

Notice how Date is now `Date {}` instead of a string and that array has object syntax.

[code]

**Also**, sometimes I'm seeing `[Circular]` in place of a `Date`, but not sure how to reproduce that.

### To Reproduce
Run this with `2.9.1` and `3.0.5`
[co

[2021-01-08 09:31] terehov commented on #80
Thank you very much once again for your valuable input. I really feel how with your help the library becomes better and better :-)

[2021-01-08 10:29] terehov commented on #80
I have fixed this issue, need to update tests, and going to release a new version today.

[2021-01-08 14:27] flybayer commented on #80
Awesome thanks :)

Another issue I have is tslog with pretty formatting shows up blank in Sentry Breadcrumb logging. But I don't know if that's an issue with Sentry or tslog.

[2021-01-09 22:29] terehov commented on #80
I am super sorry, got caught up with work. I'll release it soon.
How do you integrate Sentry? Would be great if you could create a new issue for that.
The way I do it is with a JSON transport.

[2021-01-09 22:32] flybayer commented on #80
No worries and will do.

[2021-01-09 22:35] flybayer opened #81 "Bug: Logs are blank in Sentry breadcrumbs"
**Describe the bug**

Here's what tslog looks like in Sentry breadcrumbs with `pretty` logging:

![image](https://user-images.githubusercontent.com/8813276/104109939-c51a1d00-52a0-11eb-96a7-41d8bc7b8177.png)

This is captured to sentry in Node like this:

[code]

Not sure what the core issue is 🤷

**Expected behavior**
Pretty logs would show up correctly

[2021-01-20 01:11] markayers opened #82 "Bug: logging an Error object with colorizePrettyLogs: false throws a ERR_INVALID_ARG_TYPE"
**Describe the bug**
logging an Error object with colorizePrettyLogs: false throws a ERR_INVALID_ARG_TYPE

**To Reproduce**
https://github.com/markayers/tslog-error-bug-repro

**Expected behavior**
a stacktrace log without ansi color codes

**PR**
#83

**Node.js Version**
12.19.0

**OS incl. Version**
Windows 10 Pro v2004 build 19041.746

[2021-01-20 13:48] terehov commented on #82
Thank you very much for your repo and your MR. I'll release it soon.

[2021-01-20 16:35] markayers commented on #82
Happy to help! Love the library, we're in a pre-beta testing phase and don't have log aggregation set up yet, so we're using pretty logs instead of JSON in our deployed environments for now. Azure App Service log stream doesn't support ANSI color codes so we were running into this on every error log.

[2021-01-20 18:13] #82 closed

[2021-01-20 18:18] terehov commented on #80
Super sorry that it took me so long this time.
I have just released a new version also targeting this issue:

https://github.com/fullstack-build/tslog/releases/tag/v3.1.0

[2021-01-20 18:18] #80 closed

[2021-01-20 21:03] flybayer commented on #80
No problem, thank you!!

[2021-01-27 19:57] flybayer commented on #81
Update: I'm now using JSON logs but they are still blank in Sentry...

[2021-01-27 20:13] flybayer opened #85 "Bug: `Cannot read property 'isError' of null`"
**Describe the bug**

tslog version: `3.1.0`

Unfortunately I don't know how to reproduce this but I periodically get an error thrown by tslog of `Cannot read property 'isError' of null` while attempting to log a message with a JS object. I see this usually in production. Although I think I've also seen it in local dev.

**Expected behavior**

Should not error

**Additional context**

[code]

**No

[2021-02-01 06:28] whitphx opened #86 "Bug: Passing Buffer object causes an error"
**Describe the bug**

Version: 3.1.0

When a `Buffer` object is passed to logging methods, an error occurs.

**To Reproduce**

Run the code below:
[code]

Then, an error as below is thrown.
[code]

**Expected behavior**

I think a log similar to the output from `console.log` should be printed as below.
[code]

**Node.js Version**
v14.13.1

**OS incl. Version**
Alpine Linux (`node:14-alpine` docker

[2021-02-02 16:15] terehov commented on #86
Thank you very much. I have this issue on my agenda already and working on a new release targeting all 3 open issues, which I am going to release soon!

[2021-02-03 09:34] whitphx commented on #86
Awesome! Thank you very much

[2021-02-03 12:04] #86 closed

[2021-02-03 12:27] #85 closed

[2021-02-03 12:30] terehov commented on #85
I tried multiple things and wasn't really able to reproduce this issue and also couldn't find that error in my logs.
However, I've found one spot with a missing optional chaining, which I added. So I really hope 🤞 that it solves this issue.

[2021-02-03 12:55] terehov commented on #81
Interesting. Would you share how you integrated Sentry?

This is how I did it (through `transports`)
[code]

and
[code]

[2021-02-03 13:06] terehov commented on #86
Here you go :-)

https://github.com/fullstack-build/tslog/releases/tag/v3.1.1

[2021-02-03 13:07] terehov commented on #85
Would be awesome, if you could let me know if this problem still present with this version. Thank you.

https://github.com/fullstack-build/tslog/releases/tag/v3.1.1

[2021-02-03 14:23] whitphx commented on #86
Wow thank you for the quick fix!

[2021-02-03 16:11] flybayer commented on #81
@terehov I did not use any special integration, am just relying on Sentry's automatic pickup of console.log.

That is definitely interesting, but would be nice if it could just work without that.

[2021-02-12 20:07] flybayer opened #88 "Feature Request: Isomorphic logging (browser support)"
**Description / Use Case for a Feature**

As I've said before, I'm really loving tslog in Blitz apps! But there's one thing I **really** wish tslog supported, and that is logging in the browser.

Currently I have to be constantly making a cognitive choice between using tslog or console.log based on if I'm in a server or browser context. And this is often since Blitz is a fullstack monolith.

**Pos

[2021-02-16 13:33] terehov commented on #88
Thank you very much. It is on my mind for quite some time and you make quite a good suggestion. That is definitely something I would like to add to a 4.0 release.
The problem I've been stumbling on is how to provide the same API and access all the meta-information without having V8 in place. That would basically mean, either leaving them `undefined`, or using some weird hacks like throwing an erro

[2021-02-16 15:12] flybayer commented on #88
I'd personally be fine to have minimal features in the browser (`undefined`)

[2021-02-22 11:22] rjkz808 opened #89 "Feature Request: NestJS integration"
This logger is awesome, but I'd also like to see some sort of NestJS module like [this one for pino](https://www.npmjs.com/package/nestjs-pino). Unfortunately, trying to integrate `tslog` as an application-level logger in NestJS breaks the call site at this moment.

[2021-03-02 17:38] jonahsnider opened #92 "tslog should not modify the Error prototype"
https://github.com/watson/error-callsites/blob/1d6e6cc416b56d535c608ed77980867bb7b345c9/index.js#L8-L21

https://github.com/fullstack-build/tslog/blob/77ab7c9331d0bc6f627fa7a4e45a4eebc8908a01/src/CallSitesHelper.ts#L64-L78

tslog should not modify the global Error prototype. If modifying the prototype is necessary for certain features it should be explicitly enabled with an option.

This can cause

[2021-03-09 18:33] whitphx opened #93 "Bug: Logging URL objects fails"
**Describe the bug**
TSlog version: 3.1.1

Similar to #86.
When logging a `URL` object, an error occurs.

[code]

**To Reproduce**
Steps to reproduce the behavior:
Run the code below.
[code]

**Additional context**
Add any other context about the problem here.

**Node.js Version**
v14.16.0 (`node:14.16.0-buster` docker image)

**OS incl. Version**
Debian (buster) docker image on Debian (buster) ho

[2021-03-10 13:25] terehov commented on #93
Thank you. I am on it.

[2021-03-11 12:00] terehov commented on #93
Fixed in 3.1.2 and should now also be more generic. Thank you once again.

https://github.com/fullstack-build/tslog/releases/tag/v3.1.2

[2021-03-11 12:00] #93 closed

[2021-03-11 12:18] whitphx commented on #93
Thank you for such a quick fix! 😄

[2021-03-11 13:29] terehov commented on #92
Thank you for your input. We use this to access native v8 stack information. I will put some thought into this issue.

[2021-03-19 14:01] withmask opened #95 "No output is shown when using VSC debugging"

[2021-03-19 14:02] withmask commented on #95
The issues seem to be related with vscode. My bad.

[2021-03-19 14:02] #95 closed

[2021-03-26 01:54] auguwu opened #96 "Bug: Error thrown of setting a property name that only has a getter"
**Describe the bug**
In some applications, ts-log will report the error (this is with ts-node, same errors produces in normal JavaScript!):
[code]

**To Reproduce**
This happens when you do:

[code]

**Expected behavior**
Shouldn't override setters (it seems?) and the error should be printed.

**Node.js Version**
v15.0.1

**OS incl. Version**
Windows 10 Pro (build 2004, 10.0.19041)

[2021-04-18 06:58] vanntile opened #99 "Bug: Absolute paths using ES modules in Node"
**Describe the bug**
In the module description, it says

Using node ES modules in an express project, the paths are not relative, but absolute from the system root.

**To Reproduce**
The logger module file is below

[code]

Using it like the following:

[code]

The output is

[code]

**Expected behavior**
The paths being relative from the project root.

**Additional context**
This happens both whe

[2021-04-19 12:14] acidoxee commented on #70
I second this, a custom _final_ formatter would be great to enable anyone to override the log output, which should be completely customisable, whether it is for the pretty or the JSON format. Although if I had to choose only one of them, it would be the JSON one, to easily make it compatible with any log collector agent without needing to twist its configuration (not always possible on cloud provi

[2021-04-20 20:26] #96 closed

[2021-04-24 06:19] herbertpan commented on #22
Hi @terehov
do you have a plan to support metaline color customization?

If I find the correct [place](https://github.com/fullstack-build/tslog/blob/master/src/LoggerWithoutCallSite.ts#L617), the metaline color is hard coded as gray.
[code]
My iterm2 background is gray, so I cannot see metaline. (I have to use `colorizePrettyLogs: false`)

[2021-05-25 02:01] cheruvian commented on #16
+1 especially when making claims that this library is `⚡ Small footprint, blazing performance (native V8 integration)` I'd love to understand what this means when it comes to logging and if it is still `blazing performance` when compared to other (optimized) logging libraries. I can't seem to find any performance testing anywhere. Has anyone set up a test?

Features are nice and all but at the end

[2021-05-25 23:22] aellerton commented on #88
+1!

Here's how I make logging work in the browser in the meantime, in case it's useful for anyone else...

Context: We migrated our code from a different logger that imported a pre-built `log` instance. I prefer the `tslog` way -- import then create an instance -- but we've taken the simplest path initially, which was to create a single instance and use that everywhere.

Usage:

[code]

and then

[2021-05-29 22:24] Niromash opened #105 "Europe/Paris timezone bug"
Hello, there is a slight problem with the display of the time for the Europe/Paris timezone, instead of 00h00 it changes to 24h00
![Sans titre](https://user-images.githubusercontent.com/27890221/120086033-5d446180-c0dd-11eb-97ae-2317bcfa9173.png)

[2021-06-15 16:09] blakejoy opened #110 "Bug: JSON type returning hostname and instance name when supposed to be hidden by default"
**Describe the bug**
The json type is returning the full logObject regardless of the values provided to be hidden/displayed in the settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new Logger with settings param {type: 'json'}
2. Pass a string to Logger instance to see the output.

**Expected behavior**
The log output when formatted as json should not display the values that a

[2021-07-02 18:54] ejose19 commented on #77
It would be great if there was an option to rewrite/map log levels, like using `Syslog` levels instead of the defaults provided by `tslog` (I've seen this implemented in other logger libraries like winston, see https://github.com/winstonjs/winston#logging-levels & https://github.com/winstonjs/winston#using-custom-logging-levels)

[2021-07-02 19:03] ejose19 opened #112 "tslog shouldn't modify global util.inspect styles by default"
**Describe the bug**
Currently, `tslog` overwrites `util.inspect` styles by its own:
https://github.com/fullstack-build/tslog/blob/2760b4144691a354126059a9d100a8c3c4879895/src/LoggerWithoutCallSite.ts#L75-L87
https://github.com/fullstack-build/tslog/blob/2760b4144691a354126059a9d100a8c3c4879895/src/LoggerHelper.ts#L136-L144

which will affect other consumers of `util.inspect`, this shouldn't be en

[2021-07-28 11:58] JustinGrote opened #113 "Feature Request: Simpler transport"
**Description / Use Case for a Feature**

Because the severity of a log is included with the logObject, there should be a simpler transport implementation option similar to the `IStd` interface for prettyprint.
[code]

And this type added as an overload to `attachTransport`

This would allow a transport logger to take out all the per-severity boilerplate and still support minLevel (because the log

[2021-07-28 12:22] JustinGrote opened #114 "Feature Request: PrintPrettyLog should have option to send entire string as one write call to IStd"
**Description / Use Case for a Feature**

Currently when implementing a custom output via IStd, write gets called 5 times for a simple message, which makes processing more complicated than it needs to be (buffering the output and then looking maybe for a \n to decide when a log entry is complete, and if I want a multiline output from prettyprint, gets even more complicated especially if the log me

[2021-07-28 13:02] JustinGrote opened #115 "Bug: Delimiter is inconsistent in prettyprint"
**Describe the bug**
When trying to prettyprint to a custom istd, the delimiter is sometimes in the wrong place, e.g. before an ANSI color reset
![image](https://user-images.githubusercontent.com/15258962/127326370-8bceea45-b323-4c0f-b989-2e0b2701332f.png)
Or just missing completely
![{113145A4-D284-4238-9430-9D5531AC7A2C}](https://user-images.githubusercontent.com/15258962/127326547-79abde07-edc3

[2021-07-29 08:26] hydeenoble commented on #110
@blakejoy Please did you get a way around this?

[2021-07-29 12:27] blakejoy commented on #110
I ended up not using this @hydeenoble 🥲

[2021-07-30 18:06] eugene1g commented on #92
Somewhat related - Node has native support for sourcemaps (via `--enable-source-maps`), and this feature breaks as soon as `tslog` is `require`d anywhere the application because `prepareStackTrace` is hijacked by the library. We use TypeScript, and have to add  `delete Error.prepareStackTrace` immediately after including `tslog` to restore the expected behavior.

[2021-07-30 18:39] terehov commented on #92
@eugene1g Thank you for this hint!

[2021-08-18 12:23] mikecann opened #119 "Error: Dynamic require of "path" is not supported"
**Describe the bug**
Im trying to use this awesome looking lib with esbuild targeting cloudflare workers and I am getting the following error:

[code]

Clicking the link in the stack trace takes me to:

[code]

It looks like the culprit is `require_source_map_support()`. Im not sure if cloudflare workers have some sort of special requirements or whatnot or if its esbuild that is stripping somethin

[2021-09-01 18:10] terehov commented on #105
Can you verify if this version fixes your issue? Thank you.

https://github.com/fullstack-build/tslog/releases/tag/v3.2.2

[2021-09-01 18:10] #105 closed

[2021-11-10 15:03] adavidhon opened #123 "Feature Request: [use formatWithOptions instead of format inside _formatAndHideSensitive]"
Usage of util.format inside _formatAndHideSensitive breaks the ingestion of json logs by filebeat due to the errorString containing newlines. Filebeat can only read json objects if it is printed on a single line. Moving to formatWithOptions will allow us to use the breakLength property of InspecOptions to decide how long the string is until we break it with a newline (so we can set it to Infinity

[2021-11-14 06:50] terehov commented on #123
I’ll have a look but that should be doable.

[2021-11-19 02:55] mat2718 opened #124 "Bug: errors out when using react native with metro server"
**Describe the bug**
errors out anytime it being run in react native app/ also had to manually install os and path.

**To Reproduce**
Steps to reproduce the behavior:

1. install tslog
2. import Logger to a file like in the example given
3. run React-native run android
4. See error:
5.  WARN  Require cycle: node_modules\os\index.js -> node_modules\os\index.js

Require cycles are allowed, but can r

[2021-11-29 11:04] #123 closed

[2021-11-29 11:08] adavidhon commented on #123
Hi @terehov, did you only change it for pretty formatting? We kind of need that for json formatting due to issues that filebeat has with ingesting json logs with newlines in it

[2021-11-29 11:14] terehov commented on #123
Would be awesome if you could put it down into a MR 👍

[2021-11-29 11:21] terehov commented on #123
@adavidhon Have a look here, does it fix it for you?
https://github.com/fullstack-build/tslog/commit/b8c22d187de63a14fb2b46e00eb259c625a96ef8

[2021-12-01 09:38] adavidhon commented on #123
I'll take a look at it shortly

[2021-12-03 20:05] denosaurtrain commented on #119
I ran into the same error but no cloudflare in my case. I found a workaround for local development that displays source information with esm+tslog+esbuild+typescript: `npx esbuild src/index.ts --bundle --platform=node --outdir=dist --sourcemap=inline --sources-content=false --format=esm --external:source-map-support --out-extension:.js=.mjs --main-fields=module`.

Although that worked, I then ran

[2021-12-10 05:36] orlandodiaz opened #128 "Feature Request: [Log in separate thread]"
**Description / Use Case for a Feature**

It seems this library is adding quite some additional overhead for me, probably because I'm also logging to files. The overhead is noticeable and a problem for low latency applications. This problem would be solved if the logging was done in a separate thread. Does this library support this?

[2021-12-10 07:28] terehov commented on #128
That sounds quite a lot indeed.
Can you give me some more details on your use case? How do you use it?

Btw. version 4.0 is going to be was leaner and pluggable.

[2022-01-23 22:48] raarts commented on #89
Oh,  I would really like this.. +1

[2022-02-04 20:29] DarkLiKally opened #130 "Bug/Improvement: hostname resolution very slow - maybe cache it"
**Describe the bug**
I'm using tslog in a AWS lambda envrionment - but the thing is also occuring locally. When you log many things the most of the execution time of our function is dedicated to the getHostname / hostname() function from the node:os package.

**To Reproduce**
Steps to reproduce the behavior:

1. setup tslog in a default configuration
2. log many messages
3. attach a profiler to th

[2022-02-06 09:02] terehov commented on #130
Thanks, that’s a really good finding! I’ll fix it soon. 👍🏻

[2022-02-06 18:28] DarkLiKally commented on #130
@terehov thanks :) another quick note:
The Logger constructor also resolves the hostname - when creating child loggers for each request in services injected via DI (we have many scoped services) there's also a good amount of requests to the os.hostname().
Maybe that's also good to cache.
For performance that is not a super deal in this case, it's not as much as for each log message but it could im

[2022-02-08 15:04] #130 closed

[2022-02-08 15:10] terehov commented on #130
@DarkLiKally Here you go, give it a try :-)

https://github.com/fullstack-build/tslog/releases/tag/v3.3.2

[2022-02-21 21:27] ScorpionConMate commented on #99
Did you get any solution?

[2022-02-25 04:22] vanntile commented on #99
No, I haven't tried anymore and moved to pino

[2022-03-14 09:56] beanaroo commented on #99
I found that `stackFrame.getFileName()` at [LoggerHelper.ts#L75](https://github.com/fullstack-build/tslog/blob/0d2ccadb262879153271e26d98b7e80334337c64/src/LoggerHelper.ts#L75) returns a path prefixed with `file://` when using ES Modules.

Stripping it in [cleanUpFilePath](https://github.com/fullstack-build/tslog/blob/0d2ccadb262879153271e26d98b7e80334337c64/src/LoggerHelper.ts#L22) seems to resto

[2022-03-14 10:04] beanaroo commented on #99
I just noticed that Code Frame is also not printed when using ES Modules.

Modifying [LoggerHelper.ts#L75](https://github.com/fullstack-build/tslog/blob/0d2ccadb262879153271e26d98b7e80334337c64/src/LoggerHelper.ts#L75) instead restores both relative paths and code frames:

[code]

[2022-03-14 11:59] terehov commented on #99
Yes, a PR would be great! Thanks for this hint! 👍🏻

[2022-03-16 02:07] grantmagdanz opened #134 "Feature Request: Ability to add to root JSON keys"
My end goal is to integrate with Datadog. In order to associate logs with requests, Datadog requires certain fields to be in the JSON object logged. I couldn't find a way to do this with tslog. `prefix` adds values to `argumentsArray` but I need to be able to add custom values and keys to the log object itself. Details on configuring logs for Datadog are [here](https://docs.datadoghq.com/tracing/c

[2022-03-16 19:45] amolpatel commented on #81
@flybayer Were you able to find a workaround for this? I like and could use @terehov's solution but it is a bit hacky.

[2022-03-21 17:44] #99 closed

[2022-05-03 18:16] jraoult opened #137 "Bug: TRequestIdFunction is too stricly typed"
**Describe the bug**
While implementing a request id provider function, I realised that [it is supported to return `undefined`](https://github.com/fullstack-build/tslog/blob/91784f2fa6fe1a5c5fe233c1807017992ea75b12/src/LoggerWithoutCallSite.ts#L395) from a [`TRequestIdFunction`](https://github.com/fullstack-build/tslog/blob/91784f2fa6fe1a5c5fe233c1807017992ea75b12/src/interfaces.ts#L42) despite wh

[2022-05-18 16:58] olivierlacan opened #138 "Feature Request: Case insensitive alternative to maskAnyRegEx?"
Right now [`maskAnyRegEx`](https://tslog.js.org/#/?id=maskanyregex) is case sensitive by default. Since all strings supplied in the array are [joined with a pipe][1] (`|`) it's not possible to supply a `/i` global flag (a `/g` [global flag is hardcoded][1]).

So if you set the following: `maskAnyRegEx: ["pass.*"]`, it will not catch this string `dbPassword`.

That's fairly understandable and you c

[2022-06-01 21:27] cspotcode opened #139 "Bug: [BUG] Suspected bug in infinite loop avoidance logic"
**Describe the bug**

Someone reported this bug a while back:
https://github.com/cspotcode/node-source-map-support/issues/36

I see that tslog has logic to avoid infinite loops.  This suggests to me that the logic might be failing in certain situations.

https://github.com/fullstack-build/tslog/blob/3b47ff2036a6e4b05eb07a64d8d0d9b7d7f48bd9/src/CallSitesHelper.ts#L42-L49

**To Reproduce**
Steps to

[2022-06-02 08:50] GhaithZamrik commented on #139
I can't say what are the reproducible steps per se as there's nothing special about the project. If I am able to create a simpler version that causes the same issue I'll post it here. It's a TS NextJS project.

The information that I have at the moment are the following:

Error:
`
C:\Users\user\repo\node_modules\@cspotcode\source-map-support\source-map-support.js:227
  while (match = re.exec(fileD

[2022-06-02 15:57] GhaithZamrik commented on #139
@cspotcode Yes, I understand that...

As I said I will share something when I have an example that I can share and reproduces the issue :)

[2022-06-29 11:01] rafaelmarques7 opened #140 "Bug: [BUG] logger with JSON type does not respect log settings"
**Describe the bug**

* as far as I can tell, when we create a new Logger with `type: 'json'`, and pass it some settings, the Logger does not respect the settings
* To further add to this, the json logs currently include a lot of unecessary clutter. For example, we don't care about the hostname , the log levelId, the line number, etc. The real thing we care about  is the `argumentsArray`, but even

[2022-07-08 16:52] lloydjatkinson opened #141 "Feature Request: [Feature] Consider expanding tslog so that it can become the go to logging framework for Node"
Winston and Pino are both written in JS with minimal to no typings. Winston is limping on but gets no real attention from the maintainers, it also can't do basic things such as logging metadata to the console in certain scenarios (such as pretty printing). Both lack real world "enterprise" grade logging features that other languages/ecosystems have available.

The one feature they both have that t

[2022-07-08 17:22] lloydjatkinson commented on #141
Hi, that's great to hear! It's a really good effort for saying it's a side project 😀

Yep I'm free to discuss this any time that suits you! In the meantime I also found this https://www.npmjs.com/package/rotating-file-stream which seems to be very well tested and also written in TS. Perhaps this could be used for the transport?

[2022-07-09 20:19] terehov commented on #141
@lloydjatkinson
Thank you for mentioning this library. With its help, it should be really easy to achieve what you want:

[code]

[2022-07-09 20:20] terehov commented on #141
You can do it here:
[code]

[2022-07-14 15:19] terehov commented on #141
@lloydjatkinson Did you get a chance to check it out? Does it solve your problem? If it does, I would add this to docs.

[2022-07-15 21:34] m5r commented on #88
Hey, any update here? I'd *love* to see this working in the browser

[2022-07-27 17:32] #141 closed

[2022-07-29 17:43] magarrettdias commented on #140
Would be great if our argumentsArray json object  could be spreaded in json root based on some setting. To do so, I had to overwrite the methods.

But argumentsArray not logging json object as string but logging as [documented](https://raw.githubusercontent.com/fullstack-build/tslog/master/docs/assets/tslog_log_level_json.png) (see "I am a warn log with a json object" line) would be great as well.

[2022-08-02 13:59] fezjo opened #144 "Bug: Child loggers' settings changes influence parent and siblings"
**Describe the bug**
Modifying some settings in child loggers changes this setting also in all other loggers in hierarchy tree. The reason is shallow copy of `this.settings` in `LoggerWithoutCallSite.getChildLogger`. Because of this, methods like `attachTransport` which don't reassign but only modify settings fields also affect other loggers. Temporary solution is to manually initialize or copy re

[2022-08-18 04:11] dever23b opened #145 "Bug: Built-in formatting/interpolation subverted/unusable"
**Describe the bug**
The ability to log messages with interpolation is subverted by the processing of the arguments array supplied to the log-level methods (`silly`, `debug`, `info`, etc)

**To Reproduce**
Steps to reproduce the behavior:
[code]

Output
[code]

**Expected behavior**
The two arguments supplied to `log.info` are passed together to (node:)`util.formatWithOptions` method to be properl

[2022-08-22 21:19] dever23b opened #146 "Bug: [BUG] Child instance cannot import settings from parent"
**Describe the bug**
The `LoggerWithoutCallSite.settings` getter method merges `this._parentOrDefaultSettings` and `this._mySettings` in a manner which results .  As of this writing, the code uses spread operators to merge the two property sets; however, this method of merging simply overwrites and does not prevent a "falsy" value from overwriting a "truthy" value.  Accordingly, settings that are

[2022-08-23 12:33] terehov commented on #146
@dever23b Thank you for reporting this bug.

However, the faulty code isn't the spread operator, it's rather here:
https://github.com/fullstack-build/tslog/blob/bbc8bab8b5e37127716c1271df2a65ca81448532/src/LoggerWithoutCallSite.ts#L170

It's the way the name gets replaced in certain scenarios. I have fixed it and going to publish a new version with some more bugfixes shortly.

[2022-08-23 19:04] terehov commented on #144
Thank you for highlighting this one, and sorry that it took me a bit longer to get back to that.
My expected behaviour would actually even be the following (inherit to children, but not to parents or siblings):

[code]

**Result:**

[code]

I am going to fix it with the next release!

[2022-08-23 19:09] terehov commented on #140
I agree. This is going to be the biggest breaking change in V4, I am working on right now.

[2022-08-23 19:14] terehov commented on #139
Thank you, @cspotcode for pointing that out.

@GhaithZamrik, have you been able to extract a minimal example? I would appreciate it a lot.

[2022-08-23 19:17] terehov commented on #137
That's correct, thank you. I'll fix it in the next release :-)

[2022-08-23 19:20] terehov commented on #134
I can see that, thank you. This is going to be the main breaking change in V4, I am working on right now.

[2022-08-23 19:22] terehov commented on #138
Thank you! I will put it on the agenda for V4 and consider it. Have to put in some thoughts, though.

[2022-08-23 19:27] terehov commented on #119
Not quite. Looks like a problem with CJS.
V4 is going to be a huge rewrite and ESM first. I hope it would fix that.

[2022-08-23 19:29] terehov commented on #22
@herbertpan Makes sense. Thank you.
I am going to add it to the V4 release too.

[2022-08-23 19:35] terehov commented on #81
In V4 I am going to use `console`per default, rather than Stdout. I believe that should be more compatible with Sentry per default.

[2022-08-23 19:39] terehov commented on #88
@m5r I am working on it atm. 👍

[2022-08-23 19:40] terehov commented on #89
I don't really use NextJS, but if you could help me with that, we can definitely make it work in V4.

[2022-08-23 19:43] terehov commented on #112
I agree. I am going to put in some thoughts.

[2022-08-23 19:53] #137 closed

[2022-08-23 19:53] #144 closed

[2022-08-23 19:59] terehov commented on #146
https://github.com/fullstack-build/tslog/releases/tag/v3.3.4

[2022-08-23 19:59] #146 closed

[2022-08-23 19:59] terehov commented on #137
https://github.com/fullstack-build/tslog/releases/tag/v3.3.4

[2022-08-23 19:59] terehov commented on #144
https://github.com/fullstack-build/tslog/releases/tag/v3.3.4

[2022-08-23 20:43] dever23b commented on #146
Thanks!  I'll get updated and test this week.

[2022-08-23 21:03] fezjo commented on #144
Thank you for the fix!

I am not too familiar with all the settings of tslog, so could you say if the other nontrivial fields like:
[code]
could suffer from the same issue?

[2022-08-23 21:46] dever23b commented on #145
@terehov Thanks for responding.  I'm still learning how to work with Git and I haven't even endeavored to play with GitHub yet, so forgive me for not doing a proper PR (I'm just not on that level yet, sorry!).  I'm still quite the amateur with Git, and really only know how to use it to the extent that I can save and re-access commits to prevent me from losing code when I accidentally create regres

[2022-08-25 01:06] dever23b commented on #146
I pulled the latest version and tested this.  It works!  Thanks again.

[2022-09-02 17:11] xinatcg opened #147 "Feature Request: [add doc for webpack 5]"
**Description / Use Case for a Feature**

BREAKING CHANGE: webpack < 5 used to include polyfills for node.js core modules by default.
This is no longer the case. Verify if you need this module and configure a polyfill for it.

get error when use webpack 5

[2022-09-02 18:26] terehov commented on #147
Hello @xinatcg,

as mentioned in the docs, the current version of `tslog` is a Node.js only library.
The upcoming version (s. v4 branch) is going to be isomorphic.

Duplicate to this:
https://github.com/fullstack-build/tslog/issues/88

[2022-09-02 18:26] #147 closed

[2022-09-16 20:49] Trogdor-007 opened #148 "Bug: Incorrect Line Number"
**Describe the bug**
The line number appears to be incorrect. I have a demo of my code below where I created a NEW Typescript project using npx tsc --init. This may just be with using ts-jest with typescript as if I compile my code and run it, then the line number works as expected. not sure if functionality though was only intended for when code was compiled which if so, then I guess this should

[2022-09-17 10:09] terehov commented on #148
It would be interesting to know, how you start the TypeScript version. Can you pls provide that command too. Thx.

[2022-09-29 10:40] terehov commented on #148
There is a new, completely rewritten version (4.0) with native source maps support.
Give it a go and let me know if that solves your problem:

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-resolution=node --no-warnings --loader ts-node/esm`

[2022-09-29 10:42] terehov commented on #145
I've been working on a new, completely rewritten version (4.0), which support interpolation. Give it a go and let me know if that solves your problem:

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-resolution=node --no-warnings --loader ts-node/esm`

Example:
[code]

[2022-09-29 10:45] terehov commented on #140
I've been working on a new, completely rewritten version (4.0). Can you give it a go and let me know if that solves your problem.

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-resolution=node --no-warnings --loader ts-node/esm`

Child loggers are now called sub loggers.
You can find some examples on how to

[2022-09-29 10:46] terehov commented on #139
I've been working on a new, completely rewritten version (4.0), which does not use this logic anymore. Can you give it a go and let me know if that solves your problem?

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-resolution=node --no-warnings --loader ts-node/esm`

Thank you.

[2022-09-29 10:48] terehov commented on #138
I've been working on a new, completely rewritten version (4.0). This version is way more flexible, and you can basically overwrite all the internal functionality, including this RegEx. Can you give it a go and let me know if that solves your problem?

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-resolution

[2022-09-29 10:51] terehov commented on #134
I've been working on a new, completely rewritten version (4.0). This version is way more flexible, and you can basically overwrite all the internal functionality, including the main Object, which opens endless opportunities for integrations. Can you give it a go and let me know if that solves your problem?

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node

[2022-09-29 10:53] terehov commented on #128
There is a new `next` release of version 4. As mentioned before, it is way leaner, more flexible and interacts less with the native V8. You can still put it into a worker thread, if needed. Could you give it a go and see if it helps? I would appreciate your feedback.

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-spe

[2022-09-29 10:54] terehov commented on #124
There is a new `next` release of version 4.0. It interacts less with the native V8 and should help with this issue. Could you give it a go and see if it helps? I would appreciate your feedback.

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-resolution=node --no-warnings --loader ts-node/esm`

[2022-09-29 10:55] terehov commented on #119
There is a new `next` release of version 4.0. It is ESM only. Could you give it a go and see if it helps? I would appreciate your feedback.

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-resolution=node --no-warnings --loader ts-node/esm`

[2022-09-29 10:57] terehov commented on #115
There is a new `next` release of version 4.0. Now you can use templates and change the output completely, incl. delimiters.
Could you give it a go and see if it helps? I would appreciate your feedback.

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-resolution=node --no-warnings --loader ts-node/esm`

Here i

[2022-09-30 12:43] terehov commented on #114
Thank you for this valid input. There is a new, completely rewritten version (4.0) which solves this problem and also makes it completely configurable. This particular case should work out of the box.
Give it a go and let me know if that solves your problem:

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-re

[2022-09-30 12:45] terehov commented on #110
There is a new, completely rewritten version (4.0) which handles it completely different and should solve this out of the box. In addition, you can also overwrite every step of the log process. Give it a go and let me know if that solves your problem:

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-resolutio

[2022-09-30 12:47] terehov commented on #92
There is a new, completely rewritten version (4.0) which does not interfere with the Error object any more.
And yes, we are now completely dependency free and use the native supported source maps.
Give it a go and let me know if that solves your problem:

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-resolu

[2022-09-30 12:48] terehov commented on #89
There is a new, completely rewritten version (4.0) which does not interfere with the call sites any more. Give it a go and let me know if that solves your problem:

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-resolution=node --no-warnings --loader ts-node/esm`

Thank you.

[2022-09-30 12:52] terehov commented on #88
Good news. V4 @next is out and is isomorphic! It is also completely rewritten, faster and more flexible. Give it a go and let me know what you think. As soon as I have enough feedback, I am going to finish it up as well as the documentation and release it.

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-reso

[2022-09-30 12:53] terehov commented on #81
As mentioned before, V4 uses console per default (can be overwritten though) and is even more flexible and allows overwriting every part of the log processing.
Give it a go and let me know if that solves your problem:

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-resolution=node --no-warnings --loader ts-n

[2022-09-30 12:58] aellerton commented on #88
Oooohh that's excellent news! Looking forward to checking they out soon!

On Fri., 30 Sep. 2022, 20:52 Eugene Terehov, ***@***.***>
wrote:

[2022-09-30 14:09] terehov commented on #70
V4 beta is out and supports both, custom log objects as well as custom formatters.

Here you can see how you can add a fully typed log object with as many values as you want:
https://github.com/fullstack-build/tslog/blob/v4/tests/Nodejs/8_json_LogObj.test.ts#L14

And this is how you can overwrite the formatters:
- Pretty:
https://github.com/fullstack-build/tslog/blob/v4/tests/Nodejs/10_Overwrites.

[2022-09-30 14:12] terehov commented on #77
V4 beta is out, which is fully sutomizable. You can easyly define as many log levels as you want, by simply extending `BaseLogger`.

- either like this:
https://github.com/fullstack-build/tslog/blob/v4/tests/Nodejs/8_json_LogObj.test.ts#L14

- or like this:
https://github.com/fullstack-build/tslog/blob/v4/src/index.ts

Give it a go and let me know if that solves your problem. I'll publish the fina

[2022-09-30 14:17] terehov commented on #113
V4 beta is out, and you can now overwrite any aspect of the process, even the transport. It now works both ways, either as an attached transport or as on overwrite.
Give it a go and let me know if that solves your problem. I'll publish the final version as soon as I have gathered enough feedback.

- Attached transport:
https://github.com/fullstack-build/tslog/blob/v4/tests/Nodejs/11_Transports.tes

[2022-10-03 22:12] prescience-data opened #149 "Feature Request: [Feature] Toggle for handling surround lines in traces when bundled"
When errors throw on my bundled applications, the dump is enormous given the surrounding lines may be entire minified scripts.

I don't beleive this issue is due to `tslog` itself, but it would be neat if there was some way to toggle the feature that clips the surrounding code to a defined string length? (There may be a better way to handle this than string length, so consider that just an initial

[2022-10-11 12:06] lukaszlenart opened #150 "Bug: TRACE always exposes the stack trace even if disabled"
**Describe the bug**
TRACE always exposes the stack trace even if disabled
https://github.com/fullstack-build/tslog/blob/master/src/LoggerWithoutCallSite.ts#L257

**To Reproduce**
Create a logger and call `logger.trace('boom!')`

**Expected behavior**
The behaviour should be controlled by `settings.exposeStack`

**Node.js Version**
v18.9.0

**OS incl. Version**
macOS 12.6

[2022-10-11 12:45] terehov commented on #150
Hello @lukaszlenart, it's actually not a bug, but a documented behaviour:
https://tslog.js.org/#/?id=log-level

However, the upcoming V4 will work as you expect. It is feature complete, and I am working on the documentation:

- `npm i tslog@next`

- and run it with `node --enable-source-maps` or for TypeScript `node --enable-source-maps --experimental-specifier-resolution=node --no-warnings --load

[2022-10-11 12:45] #150 closed

[2022-10-16 18:23] terehov commented on #119
Well spotted, thank you.
Can you please try this one:

[code]

[2022-10-20 16:30] jamlen opened #151 "Feature Request: Add an `audit` method which can use a separate transport"
**Description**

I would like to be able to have an `audit` method which can be sent to a specific transport. My use case is that whilst it makes sense for application logging to increase in severity, I'd like to use the same mechanism of logging to log audit messages. In my case I might have a transport which fires them onto a queue which is then consumed... I may just output them onto the consol

[2022-10-27 06:07] danmichaelo opened #154 "tsdoc is down"
https://tslog.js.org/tsdoc/ is not working :(

![image](https://user-images.githubusercontent.com/434495/198204280-7e1067f0-78b7-4e8b-8625-9a876a47cb03.png)

[2022-11-03 07:16] terehov commented on #154
tsdoc is back on again.
The reason is that I was about to release V4, but didn't manage to get tsdoc (typedoc) to work with `tslog` being an ESM only module.

[2022-11-03 07:16] #154 closed

[2022-11-07 00:52] wz2b opened #155 "Feature Request: look up log level from string"
I would like to request a helper method to look up a log level from its string.  My use case is a lambda on Amazon Web Services.  I want to be able to pass a LOG_LEVEL parameter in through the amazon environment.  It may be present or not, it may be in upper or mixed case, or it might be undef.

Something like:

`getLogLevel(level: string, defaultLevel: TLogLevelName): TLogLevelName`

I would subm

[2022-11-09 08:13] caboyer opened #156 "Bug: [BUG]"
**Describe the bug**
I feel weird not to understand why I can''t get Tslog to print correctly :
- the name of the class it is in, when the log is called from a constructor. Your doc definitely shows it can (MyClass.constructor) but I end up with undefined.constructor.
- the name of the function it is runned in, in case that function calls a forEach, map or promise, and logs is inside of the code.

[2022-11-14 13:12] jerebtw opened #158 "Feature Request: overwriteConsole"
**Description / Use Case for a Feature**

Is the overwriteConsole feature gone? (in v4)

[2022-11-15 07:14] lukaszlenart opened #159 "Bug: [BUG] "name" is missing"
**Describe the bug**

I tried to upgraded to the latest tslog 4.0.1 but the "name" parameter is missing - is see it in the docs, but when using TypeScript it isn't available

**Node.js Version**
v18.12.1

**OS incl. Version**
macOS 13.0.1

[2022-11-15 07:21] lukaszlenart opened #160 "Bug: [BUG] "minLevel" is "number" - missing backward compatibility"
**Describe the bug**

In tslog 3.x the `minLevel` parameter was of type `TLogLevelName` but now it's a number - this breaks backward compatibility, yet in the docs there is a section

which somehow implicates the supported names, not sure why those names are not supported directly. This is also counterintuitive comparing to other logging libraries.

[2022-11-15 16:21] terehov commented on #159
`tslog` follows a semantic release policy. A major version change (from v3.x to v4.x) indicates breaking changes. Therefore, this not a bug, but a change.

`tslog` >=4 is way more flexible, however, less limiting when it comes to configuration. There are so many different use cases (especially when it comes to integration with 3rd party services) that I decided to open up the API.

However, most u

[2022-11-15 16:21] #159 closed

[2022-11-15 16:51] #160 closed

[2022-11-15 18:15] #158 closed

[2022-11-15 18:18] terehov commented on #156
Thank you for reporting.
Unfortunately, I decided to remove this feature in version >= 4 to improve performance and also make it work in browsers without interfering with the Node.js V8 API. Is there a particular reason you would need this information?

[2022-11-15 18:18] #156 closed

[2022-11-15 18:20] terehov commented on #22
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

[2022-11-15 18:20] #22 closed

[2022-11-15 18:21] terehov commented on #70
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:21] #70 closed

[2022-11-15 18:21] terehov commented on #77
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:21] #77 closed

[2022-11-15 18:22] terehov commented on #81
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:22] #81 closed

[2022-11-15 18:22] terehov commented on #88
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:22] #88 closed

[2022-11-15 18:22] terehov commented on #92
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:22] #92 closed

[2022-11-15 18:22] terehov commented on #110
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:22] #110 closed

[2022-11-15 18:23] #112 closed

[2022-11-15 18:23] terehov commented on #113
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:23] #113 closed

[2022-11-15 18:23] terehov commented on #115
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:23] #115 closed

[2022-11-15 18:24] terehov commented on #145
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:24] #145 closed

[2022-11-15 18:24] #140 closed

[2022-11-15 18:24] terehov commented on #139
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:24] #139 closed

[2022-11-15 18:24] terehov commented on #134
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:24] terehov commented on #138
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:24] #138 closed, assigned to nobody

[2022-11-15 18:27] terehov commented on #119
That's because the API has changed.
I have updated the documentation: [tslog.js.org](https://tslog.js.org)

V4 is released now, so I'm going to close this issue.
If you shouldn't be able to find the solution, I would be happy to help.

[2022-11-15 18:28] terehov commented on #148
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:28] #148 closed

[2022-11-15 18:28] terehov commented on #124
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:28] #124 closed

[2022-11-15 18:29] terehov commented on #114
V4 is released now, so I'm going to close this issue.
Feel free to open a new one if V4 didn't solve it for you.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:29] #114 closed

[2022-11-15 18:30] #128 closed

[2022-11-15 18:31] terehov commented on #149
Thank you for pointing this out.
This feature has been removed in V4.

V4 is released now, so I'm going to close this issue.

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-15 18:31] terehov commented on #155
I don't quite get your request. Could you give me an example based on V4?

[2022-11-15 18:32] terehov commented on #155
And yes, a PR for V4 would be helpful, so I could see what you mean.

[2022-11-15 18:33] terehov commented on #151
I think so too. Can you give it a go and let me know if something is still missing?

Here are the docs: [tslog.js.org](https://tslog.js.org)

[2022-11-16 06:09] lukaszlenart commented on #159
I was misled by the docs, now I see they were upgraded, thanks!

[2022-11-16 07:23] lukaszlenart opened #162 "Bug: Error [ERR_MODULE_NOT_FOUND]: Cannot find module"
**Describe the bug**

I switched to tslog 4.0.2 and migrated my small TypeScript project to be compatible with ES modules instead of using CommonJS. Used `.js` extensions in all the imports and build is passing. Yet when starting the app I get

[code]

As far I understood, it's because tslog doesn't use `.js` extension in imports.

[2022-11-16 07:30] terehov commented on #162
I'm happy to help.
Can you tell me how you start the project? A minimal reproducible code would help.
Are you running compiled as JS or TS?

thanks

[2022-11-16 08:17] lukaszlenart commented on #162
I just added `type: module` to my `package.json`
[code]

used the  following `tsconfig.json`

[code]

and have a simple `app.ts` like this
[code]

[2022-11-16 13:15] terehov commented on #162
Ok, I found the problem.
Being an ESM library, you need to add `--experimental-specifier-resolution=node` to run it. I added it in TypeScript example, but missed in the JS one. Thank you once again for pointing it out.

So your command should look like this:
[code]

Btw. you can remove `displayFunctionName: false` from the second object. It's not a setting, but a default `LogObj`. That basically m

[2022-11-16 14:01] lukaszlenart commented on #162
Great, it works! Just one thing left, the formatting is strange:
[code]

is it configurable?

[2022-11-16 14:04] terehov commented on #162
It is, but how should it behave? What should happen with the `name`of the Logger? What do you use it for?

[2022-11-16 14:16] lukaszlenart commented on #162
Something like this

[code]

I tried to play with `prettyLogTemplate` & `prettyErrorTemplate`, yet no luck :(

[2022-11-16 16:03] terehov commented on #162
Yeah, I see. Because prefix is just another log parameter that get prefixed.
Let me give it some thoughts and I may add a name back to the constructor again.

[2022-11-17 10:25] caboyer commented on #156
It makes debugging easier as we have a relative trace without having to print the whole thing.

Thank you for your quick response. I'll just disable the option !

[2022-11-17 13:34] terehov commented on #162
@lukaszlenart I have put in some thoughts and decided that it makes sense to introduce named loggers again. It also makes sense to inherit names to sub-loggers so that one could follow the whole chain.

I have just released a new version `4.1.0` with named loggers.

Here is the documentation:
https://tslog.js.org/#/?id=name

Does it work for you?

[2022-11-17 23:25] prescience-data opened #165 "Bug: Lots of types missing from latest version"
**Describe the bug**
Our application linting rules require explicit typing of objects as they are defined, so we use(d) the provided interfaces from the  `tslog` package.

Example:
[code]

**To Reproduce**

1. Attempt to import any types previously exposed.
2. Most imports now fail.

**Expected behavior**
This breaking change may have possibly been intentional, so apologies in advance if so.

Howe

[2022-11-18 03:32] kevintechie commented on #165
In the latest version, not all those types exist. The API has changed, and you will need to update your code.

[2022-11-18 05:56] terehov commented on #165
Thank you for your issue.
tslog follows semantic versioning. A major version change means a breaking API change.
In fact V4 is a complete rewrite, works now on the server and in browsers and is way more flexible.
You can now define your own log methods as well as the log object itself. That’s why this interface is not exposed anymore, since you can define it yourself, as explained here:

https://t

[2022-11-18 05:56] #165 closed

[2022-11-18 07:43] kevintechie opened #166 "Bug: [BUG]"
**Describe the bug**
Using the placeholder ```{{dateIsoStr}}``` returns "{{dateIsoStr}}" in the rendered log output

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Shortcut should render as if template string was ```{{yyyy}}.{{mm}}.{{dd}} {{hh}}:{{MM}}:{{ss}}:{{ms}}```

**Node.js Version**
16

**OS incl. Version**
Ubuntu 20.04

[2022-11-18 08:01] kevintechie opened #168 "Bug: [BUG]"
**Describe the bug**
Using ```{{name}}``` placeholder renders extra leading space in log output.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
```{{name}}``` placeholder should render without leading space (e.g.: "\*\*something\*\*")

**Node.js Version**
16

**OS incl. Version**
Ubuntu 20.04

[2022-11-18 08:30] kevintechie opened #170 "Feature Request: Add prettyTemplateString placeholder to render date and time in ISO format"
**Description / Use Case for a Feature**
Currently, in order to render a standard ISO format date time string to the log, you have to manually create a template string with the individual date and time placeholders and literal string components. There should be a way to do this with a single placeholder. For example: `{{rawIsoStr}}`.

[2022-11-18 09:23] lukaszlenart commented on #162
Thanks a lot! Yet I will stick to 3.x version for now in other projects as migrating a large project to ES modules is too painful :)

[2022-11-18 09:25] terehov commented on #162
Yes, of course. I am also considering releasing a CJS version. Wanted to see what the community thinks first.

[2022-11-18 09:55] terehov commented on #170
Fixed here:
https://github.com/fullstack-build/tslog/pull/171

And in V4.2.0

[2022-11-18 09:55] #170 closed

[2022-11-18 09:56] terehov commented on #168
Fixed in V4.2.0

[2022-11-18 09:56] #168 closed

[2022-11-18 09:56] terehov commented on #166
Fixed in V4.2.0

[2022-11-18 09:56] #166 closed

[2022-11-18 10:01] terehov opened #173 "Feature Request: ESM only?"
What do you guys think?
Is ESM enough nowadays, or should I add a CJS version too?

[2022-11-18 16:40] kevintechie commented on #173
I personally am fine with ESM only as everything we do is with ESM modules. However, dealing with EMS only packages can be frustrating for new programmers when trying to use them with legacy CJS code examples. Also, getting them to work with Jest and transpilers like Babble and Typescript can be completely daunting.

Aside from having to maintain a more complex build process, is there any addition

[2022-11-18 18:30] kevintechie opened #174 "Bug: Adding name delimiter introduced formatting bug."
**Describe the bug**
I'm not sure of how the new delimiter setting is supposed to be used, but as implemented, it causes extra white space (tab) to be added to the end of a logger name if it exists. Perhaps, the template string replacement is not the correct location for adding the delimiter. Either that or the delimiter should be blank "" as the default.

Another possibility is to add another pla

[2022-11-18 18:42] YousefED opened #175 "Bug: does not work with vite"
**Describe the bug**
Using a vite+ts+react starter project, tslog does not work. Seems to be related to how the entry points are defined in package.json (it loads the node version in the browser).

**To Reproduce**
https://stackblitz.com/edit/vitejs-vite-kky7d1?file=package.json,src%2FApp.tsx&terminal=dev

<img width="1018" alt="image" src="https://user-images.githubusercontent.com/368857/20277917

[2022-11-20 03:17] dumbasPL commented on #173
Would love to see CJS version

[2022-11-20 17:47] terehov commented on #174
I believe the default behaviour should work the best out of the box.
I decided to introduce two new template variables `nameWithDelimiterPrefix`and `nameWithDelimiterSuffix`.

[2022-11-20 17:48] terehov commented on #175
Thanks, I'll see what I can do :-)

[2022-11-20 17:59] terehov commented on #175
I was able to reproduce that error, but don't know Vite well enough. Do you maybe have an idea why it would pick the Node version?

I use the `browser`field in package and building works with `esbuild`.

https://github.com/fullstack-build/tslog/blob/master/package.json#L17

https://docs.npmjs.com/cli/v9/configuring-npm/package-json#browser

[2022-11-21 07:35] kevintechie commented on #174
I like the approach of returning name without delimiter and adding the two new delimiter template variables. This way it unambiguous about what you'll see.

[2022-11-21 22:08] prescience-data commented on #173
We run `tslog` in a monorepo which has uncompiled internal TypeScript packages (to avoid a build step for every minor internal change).

Without migrating our entire multi-package application to ESM only, this breaks our execution when calling `jiti` or `esbuild register`.

This is by far the most elegant / "just works" solution I've found for dual target builds fwiw:

https://antfu.me/posts/publi

[2022-11-22 02:47] beanaroo opened #176 "Feature Request: Mutating logger settings (v4)"
**Description / Use Case for a Feature**

In v3, the implementation had a method `setSettings` which enabled modifying minLevel and output configuration at runtime.

In v4, is this no longer possible or is there an alternative approach recommended?

I tried extending the Logger but `settings` is private and only accessible within the `BaseLogger ` class.

[2022-11-22 08:12] kevintechie commented on #176
I was able to get around this by using `getSubLogger({ minLevel: 2 })` for setting minLevel at runtime, but this is not ideal as it results in a logger name of `parent:child` when I don't really need a child logger.

In v3 and with other loggers, I had been creating a logger as soon as the app started and then loading the configuration options from a config file and updating the logger config. In

[2022-11-22 08:15] terehov commented on #176
I wish you told me about that earlier. I didn't see this use case and was trying to remove as much junk as possible. I figured: When people need it, they will tell me. Which you did.
I am working on a new release now and will probably just set settings to public, when I don't find any edge cases.

[2022-11-22 08:46] #174 closed

[2022-11-22 08:46] #173 closed

[2022-11-22 08:46] #176 closed

[2022-11-22 09:26] terehov commented on #173
`V4.3.0` supports CJS now too.

[2022-11-22 09:26] terehov commented on #174
Fixed in `V4.3.0`. Just released.

[2022-11-22 09:27] terehov commented on #176
Added in `V4.3.0`. Just released.

[2022-11-22 17:01] kevintechie opened #178 "Bug: Path to type definitions in package.json is incorrect"
**Describe the bug**
The path to the type definitions is not correct in the package.json file. Currently it points to `./dist/nodejs/types/index.d.ts` but should point to `./dist/types/index.d.ts`

**To Reproduce**
Steps to reproduce the behavior:

1. Start new project
2. Install tslog
3. Create basic getting started index.ts
4. Notice typescript error in import
5. Compile with tsc and see error

[2022-11-22 18:54] terehov commented on #178
That one slipped through... *facepalm*
Fix is coming.

[2022-11-22 18:54] #178 closed

[2022-11-22 18:58] kevintechie commented on #155
You can do this with an enum:

[code]

[2022-11-23 05:32] kevintechie opened #179 "Bug: Can't get tslog to work as ESM module"
**Describe the bug**
tslog not working as an esm package

**To Reproduce**
1. Setup basic project:

package.json
[code]

tsconfig.json
[code]

index.ts
[code]

2. npm i
3. compile w/ tsc
4. node .
5. see error:
[code]

**Expected behavior**
Should load tslog as esmodule

**Additional context**
Changing module resolution to Node16 causes tsc compile error:

[code]

**Node.js Version**
18

**OS incl

[2022-11-23 06:35] prescience-data opened #180 "Bug: Value masking modifies the original object provided to args"
**Describe the bug**
During the value masking process, objects passed to the logger are run through this function:
https://github.com/fullstack-build/tslog/blob/91c03781c9c14b09083347a0c02fe9d799b80ce0/src/BaseLogger.ts#L208

As you can see, it directly modifies the source object, meaning the original value is replaced with the placeholder.

After an object containing masked keys is passed to the

[2022-11-23 11:56] terehov commented on #180
Thank you for pointing this out. That's definitely a bug and should not be the case. I will fix it and add a test for that.

[2022-11-23 15:41] jraoult opened #181 "Feature Request: Allow to extends the logObj when creating a sub logger"
With the new API introduced in v4, I lost the ability to define a `requestId` meta in a sub-logger.

I read the section explaining how to re-implement the `requestId` with the v4 API, but in my app, I have a root logger create like so:
[code]

and then lower in the "tree" I have the HTTP server that is creating sub logger, and I would want to be able to do:
[code]

Does it make sense or am I missi

[2022-11-24 09:29] luo3house commented on #175
Vite treat all modules as ES modules. When `import from 'tslog'`, Vite resolved these modules from `exports.import`:

- -> `./dist/nodejs/esm/index.js`
- -> `./dist/nodejs/esm/BaseLogger.js`
- -> `./dist/nodejs/esm/runtime/node.js`
- -> `node:os` The browser throws due to not support

Mapping node.js runtime to browser runtime can solve this problem.

[code]

And the built IIFE does not export any

[2022-11-24 09:37] terehov commented on #181
Thank you, I see your point.

I will add a second parameter to `getSubLogger` that will allow overwriting that.

`public getSubLogger(settings?: ISettingsParam<LogObj>, logObj?: LogObj)`

[2022-11-24 09:43] jraoult commented on #181
@terehov that would be perfect!

[2022-11-24 16:22] #180 closed

[2022-11-24 16:22] #181 closed

[2022-11-24 16:22] #175 closed

[2022-11-24 18:53] admitad-dev commented on #179
we have this problem too

[2022-11-24 18:55] ekho commented on #179
we have this problem to

[2022-11-24 20:38] darklow commented on #175
I tried previous version and had same `os.hostname` error in the browser, but it was working fine from server side.

Now I just installed newly released version `4.4.0` and now if I import Logger I can't run anymore the app and it is crashing with following error:

[code]

It crashes just by adding these lines:
[code]

[2022-11-24 20:40] terehov commented on #175
@darklow Can you show me your package.json? Thx

[2022-11-24 20:41] darklow commented on #175
[code]

[2022-11-24 21:27] terehov commented on #179
Thank you for reporting.
Can you please try `V4.4.0` and let me know if it works? Thx.

[code]

[2022-11-24 21:28] terehov commented on #180
Can you please try `V4.4.0` and let me know if it works? Thx.

[code]

[2022-11-24 21:31] terehov commented on #181
I added this in `V4.4.0`. Does it work for you?

https://github.com/fullstack-build/tslog#sub-logger-with-logobj

[2022-11-24 21:35] terehov commented on #175
@luo3house Thank you for your hint! :-)

Can you please check `V4.4.0`?

I tried your example and it worked!

<img width="896" alt="Screenshot 2022-11-24 at 23 34 09" src="https://user-images.githubusercontent.com/490885/203865745-bbbddc0c-6818-47c0-9ab0-af071ca137cc.png">

[2022-11-24 21:46] darklow commented on #175
@terehov Now I also tried with `4.4.0` and it worked now, before I installed version `4.4.0-0` and it was failing, not sure how these versions are different, that version with -0 suffix I found on npm.

[2022-11-24 22:08] darklow opened #182 "Feature Request: Add fileNameWithLine variable to log message formats"
**Description / Use Case for a Feature**

Would it be possible to add `fileNameWithLine` variable to log message format especially for `prettyLogTemplate`. My current paths depths are quite long and therefore the message itself is shifted way far from the beginning of a message and makes hard to read. In browser there is even hostname, which makes these paths very very long before you read actual

[2022-11-24 22:27] beanaroo commented on #179
@terehov `4.4.0` no longer presents the above error and is working nicely for me. 🎉 (Bundling to ESM using esbuild)

I've also tried it with the above sample with both Node and Node16 module resolutions.

[2022-11-25 04:41] ekho commented on #179
@terehov works fine. Thank you!

[2022-11-25 06:18] terehov commented on #179
Thank you for your feedback. Happy it works. I’m going to close this issue now.

[2022-11-25 06:18] #179 closed

[2022-11-25 09:46] terehov commented on #182
Thank you. I see where you're coming from. I will put in some thoughts and add something in the upcoming version. Callback sounds like an elegant solution.

[2022-11-25 09:47] terehov commented on #151
Closing issue due to missing feedback.

[2022-11-25 09:47] #151 closed

[2022-11-25 09:48] terehov commented on #155
Closing issue due to missing feedback, as well as a possible solution provided by @kevintechie.

[2022-11-25 17:08] jraoult opened #183 "Bug: Sub loggers don't format error properly"
**Describe the bug**
While a root logger offers the nice error formatting tslog is loved for, sub loggers just show a list of empty lines prefixed by "error stack:"

**To Reproduce**
Please see the Stackblitz here https://stackblitz.com/edit/node-apgwgb?file=index.js and run `yarn start`. The first error is logged by the root logger and is nicely reported. The second one, logged by the sub-logger

[2022-11-26 08:36] terehov commented on #183
Thank you for reporting. I found the problem and fixed it. Was just a type when cloning settings 🤦‍♂️

[2022-11-26 08:37] #183 closed

[2022-11-26 08:39] terehov commented on #183
`V4.4.1` fixes this.

[2022-11-26 11:00] auberryberry opened #184 "Bug: JSON formatting inconstant, formatting strings as arrays."
Hola, I started switching browser logging to tslog today; looking very slick, but my first message ended up with super weird formatting.  Not sure if the strings -> array is by design, but it also seems inconsistent in a bigger dataset, sometimes rendering a string as a string, sometimes a string as an array.
Fresh pull of v4.4.1 today.
Chrome: Version 107.0.5304.107 (Official Build) (64-bit) (Win

[2022-11-27 10:06] terehov commented on #184
Yes, this looks weird indeed. Let me have a look and fix it.

[2022-11-27 10:57] #184 closed

[2022-11-27 11:02] terehov commented on #184
`V4.4.2` fixes this. Thanks 👍

[2022-11-27 11:03] auberryberry commented on #184
Incredible, thank you!

[2022-11-27 15:07] auberryberry opened #186 "Bug: [BUG] logging undefined as a value for an object causes a unhandled exception"
Logging an object with a field named anything and a value of undefined causes the library to fall over.
```{ test: undefined }``` <-logging this as the message or value is enough to kill tslog.

[code]

[2022-11-27 15:43] terehov commented on #186
Thanks. Looks like it’s inside the inspect polifil. I’ll fix it soon.

[2022-11-28 11:07] #186 closed

[2022-11-28 11:09] auberryberry commented on #186
Amazing, thank you for the quick fix, as usual.

[2022-11-29 13:51] rhob1 opened #187 "Bug: [BUG] Date is wrong"
**Describe the bug**
When using own format for date (not "dateIsoStr") the date seems to be wrong. The number for the day is too high.

**To Reproduce**
Steps to reproduce the behavior:

Use a template and specifiy own format for date e.g. {{yyyy}}-{{mm}}-{{dd}} {{hh}}:{{MM}}:{{ss}}:{{ms}}
When printing a log entry the day part is wrong.

I assume the line 297 in Baselogger.ts causes the problem:

[2022-11-29 18:46] #187 closed

[2022-11-29 18:46] terehov commented on #187
Thank you. `V4.4.4` will fix it 👍

[2022-11-30 04:25] cai-zhuo commented on #139
I met this issue again with **node version: v16.18.0**  **@cspotcode/source-map-support: 0.8.1**
I didn't find **tslog** in my pnpm-lock.yaml
------------------------------------------------------------------------------------------------------------------
RangeError: Maximum call stack size exceeded
    at RegExp.exec (<anonymous>)
    at retrieveSourceMapURL (/Users/bytedance/Workspace/livesaas-

[2022-11-30 05:51] terehov commented on #139
It does not seem to be tslog related. In fact, this library is not even used by tslog anymore and tslog is dependency free. Please open an issue with the library causing this problem (source-map-support).